.title {
  margin-bottom: 20px;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  color: $gray;

  /** Responsive rules for tablet **/
  @media(min-width: $smallScreen + 1) and (max-width: ($tabletScreen + 1)) {
    font-size: 35px;
  }

  /** Responsive rules for mobile **/
  @media (max-width: $smallScreen + 1) {
    margin: 0 0 30px 0;
    font-size: 30px;
  }
}

.subtitle {
  margin-bottom: 60px;
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  font-weight: normal;
  color: $gray;
}

.button--green {
  background-color: $green;
  font-size: 16px;
  font-weight: normal;
  color: $white;

  &:hover {
    color: $white;
  }
}

.button--blue {
  background-color: $blue;
  font-size: 16px;
  color: $white;
}

.button--link {
  cursor: pointer;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  color: $blue;
}