%flash-message {
  border-radius: 3px;
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
}

.flash-message--success {
  background: $green_opacity;
}

.flash-message--error {
  background: $red-opactity;
}