%claim {
  font-family: Georgia, sans-serif;
  font-style: italic;
  color: $light-gray;
}

%links-a {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: $blue;
}

%address {
  font-size: 11px;
  color: $light-gray;
}