%input {
  @include border-radius(5px);
  border: 1px solid $light-gray;
  background: $white;
  font-size: 16px;
  line-height: 1.2;
}

%error-info-style {
  background-color: $red;
  color: $white;
}

%error-input-style {
  border: 1px solid $red;
}