//main:_master.scss
//COLORES
$white: rgba(255, 255, 255, 1);
$gray0: rgba(250, 250, 250, 1);
$gray1: rgba(221, 221, 221, 1);
$gray2: rgba(153, 153, 153, 1);
$gray3: rgba(74, 74, 74, 1);
$gray4: rgba(51, 51, 51, 1);
$gray5: rgba(0, 0, 0, 1);
$red: rgba(239, 61, 66, 1);
$orange: rgba(246, 123, 41, 1);
$yellow: rgba(253, 185, 18, 1);
$green: rgba(10, 178, 90, 1);
$green2: rgba(10, 178, 90, 1);
$blue: rgba(73, 144, 226, 1);
$blue2: rgba(73, 146, 232, 1);
$blue3: rgba(119, 132, 143, 1);
$transparent: rgba(0, 0, 0, 0);
