//main: _master.scss

$icon_size: 200px;

.miz_404_page {
  margin-bottom: 100px;
  .container {
    .miz_icon {
      width: $icon_size;
      height: auto;
      margin: 40px auto 10px auto;

      svg {
        width: 100%;
        height: auto;
      }
    }

    .miz_404_text {
      display: block;
      font-size: 20px;
      margin-bottom: 40px;
      * {
        font-size: 20px;
      }
    }

    .miz_lnk_404 {
      display: inline-block;
      line-height: 40px;
      color: $blue;
      text-align: center;
      min-width: 150px;
    }

    .miz_lnk_404_bold {
      @extend .miz_lnk_404;
      font-weight: bold;
    }

  }
}

///////////// ERRORES GENERICOS /////////////
.site-about {
  .miz_generic_errors {
    .container {
      .flash-success, .flash-error, .flash-info {
        margin: 40px auto 10px auto;
        padding: 0 10px;
        font-weight: bold;

        .miz_close_msg {
          float: right;
          margin-top: 5px;
          opacity: 0.75;

          &:hover {
            opacity: 1;
          }

        }
      }
      .flash-success {
        background: rgba(0, 178, 90, 0.25);
        border-radius: 3px;
        font-size: 14px;
        color: $gray3;
      }
      .flash-error {
        background: rgba(215, 81, 97, 0.25);
        border-radius: 3px;
        font-size: 14px;
        color: $gray3;
      }
      .flash-info {

      }
    }
  }
}
