//main:_master.scss

/* ------------------------------------------- SELECT PERSONALIZADOS ------------------------------------------- */
@mixin inputsNone {
  input[type="text"], select {
    border: 0;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  select {
    background: url($URL_PHOTO + 'dropDown.svg') 95% center no-repeat $white;
  }
}

/* ------------------------------------------- BORRAR FLOAT ------------------------------------------- */
@mixin borrar_float {
  &:after {
    content: '';
    clear: both;
    display: block;
  }
}

/* ------------------------------------------- ESPACIADO VERTICAL ------------------------------------------- */
@mixin espacio_vertical {
  margin-top: 40px;
}

/* ------------------------------------------- LABEL DE PUBLICIDAD ------------------------------------------- */
@mixin label_publicidad {
  &:before {
    content: 'Publicidad';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 2px 4px;
    font-size: 10px;
    line-height: 12px;
    color: $white;
    background-color: $gray2;
  }
}

%ease-in-out-transition {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* ------------------------------------------- SHADOWS ------------------------------------------- */

%shadow-1 {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

%shadow-2 {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

%shadow-3 {
  box-shadow: 0 19px 38px 0 rgba(0, 0, 0, 0.30);
}