//main: ./mizona.scss
@import "_normalize.scss";
@import "_colores.scss";
@import "_funciones.scss";

//VARIABLES DE CONFIGURACION
$width_max_xl: 1200px;
$width_max_l: 960px;
$width_max_m: 768px;
$width_max_s: 480px;
$width_max_xs: 479px;

//DIRECCIONES DE LAS FOTOGRAFIAS
$URL_PHOTO: '/imgs/svg/';

//RESETEO DE LOS MARGENES Y DE LOS PADDING PARA TRATAR DE NORMALIZAR LOS ESTILOS
* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Arial;
  color: $gray3;
  box-sizing: border-box;
}

body p {
  color: $gray3 !important;
}

.main-content {
  margin-top: 50px;
  min-height: 950px;
}

//CONTROLAR EL ANCHO DE LOS CONTENDORES DE LAS SECCIONES DEL SITE
@mixin container_cc_max($max) {
  max-width: $max;
  padding: 0 0;
}

@mixin container_responsive_builder($size,$color) {
  .miz_max {
    padding: 0;
    .container {
      @include container_cc_max($size);
      //background-color: $color;  //para haer debug de los breakpoints
    }
  }
}

//CONTENEDOR 100% DE LA PAGINA
.miz_full {
  width: 100%;
  line-height: 40px;
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}

//CONTENEDOR MÁXINO PERMITIDO
.miz_max {
  @extend .miz_full;
  .container {
    @include container_cc_max($width_max_xl);
  }
}

@media (max-width: $width_max_xs) {
  @include container_responsive_builder($width_max_xs, blue);
}

@media (min-width: $width_max_s) and (max-width: ($width_max_m - 1)) {
  @include container_responsive_builder($width_max_s, red);
}

@media (min-width: $width_max_m) and (max-width: ($width_max_l - 1)) {
  @include container_responsive_builder($width_max_m, orange);
}

@media (min-width: $width_max_l) and (max-width: ($width_max_xl - 1)) {
  @include container_responsive_builder($width_max_l, yellow);
}

@media (min-width: $width_max_xl) {
  @include container_responsive_builder($width_max_xl, lime);
}

@import "./_utils.scss";
@import "./_textos.scss";
@import "./_modals.scss";
@import "./_pagination.scss";
@import "./_generic_errors.scss";
@import "./breadcrumbs/_breadcrumbs.scss";
@import "_error404.scss";

// inicio de parche temporal hasta tener la cabecera definitiva
.cc_header_res {

  .cc_logo_res {
    a {
      line-height: 20px !important;

      &:after {
        content: none !important;
      }
    }
  }

  &.old {
    .cc_logo_res {
      margin-top: -10px;
      a {
        &:after {
          display: none !important;
        }
      }
    }
  }
  .cc_access_res {
    .favoritos, .alarmas, .mensajes {
      padding-top: 5px !important;
      height: 40px !important;
    }
  }
}

// fin de parche temporal hasta tener la cabecera definitiva
