//main: _master.scss
.modal-backdrop {
  z-index: 20;
  position: fixed !important; 
}

.modal {
  .modal-fullscreen {
    overflow: hidden;
  }
  &.delete {
    .modal-dialog {
      width: 450px;
    }
  }
  &.msg {
    .modal-dialog {
      width: 650px;
    }
  }
  &.position-start {
    .modal-dialog {
      width: 550px;

      .modal-header strong {
        font-size: 20px;
      }
    }
  }
  &.position-help {
    .modal-dialog {
      width: 650px;

      .modal-header strong {
        font-size: 20px;
      }

      .modal-body span {
        display: block;
        margin-bottom: 40px;
        line-height: 30px;

      }
    }
  }
  .steps-position {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      clear: both;

      .circle {
        display: block;
        float: left;
        margin: 0 10px 40px 0;
        border-radius: 100%;
        background-color: #FFD581;
        width: 30px;
        color: #333;
        font-weight: bolder;
        line-height: 30px;
        text-align: center;
      }

      p {
        line-height: 30px;

        span {
          font-size: 12px;
          color: #999;
        }

        svg {
          float: right;
          display: block;
          margin: 0 0 10px 10px;
        }
      }
    }
  }
  .form {
    .position-options {
      margin-left: 40px;

      label {
        line-height: 30px;

        input[type="checkbox"] {
          margin-right: 10px;
        }
      }
    }
  }
  .amount-info {

    p {
      margin: 10px auto;
      border: 1px solid #FA0;
      border-radius: 5px;
      padding: 5px 0;
      line-height: 20px;
      background-color: #F5F5F5;

      svg {
        float: left;
        margin: 0 10px 40px 0;
      }
    }

    button {
      display: block;
      margin: 0 auto;
      border: 1px solid $yellow;
      border-radius: 5px;
      background-color: #FFF;
      padding-right: 10px;
      width: 130px;
      color: $yellow;
      font-size: 14px;
      font-weight: bolder;
      line-height: 40px;
      @extend %shadow-2;
      @extend %ease-in-out-transition;

      &:hover {
        @extend %shadow-3;
      }
      svg {
        float: left;
      }
    }

    &.error {
      p {
        border-color: #FF2931;
        svg {
          float: left;
          margin-right: 10px;
          margin-bottom: 40px;
          margin-left: 10px;

        }
      }
      a.button {
        display: block;
        margin: 0 auto;
        border: 0;
        border-radius: 5px;
        background-color: #00A74F;
        width: 130px;
        color: #FFF;
        font-size: 14px;
        font-weight: bolder;
        line-height: 40px;
        text-align: center;
        @extend %shadow-2;
        @extend %ease-in-out-transition;

        &:hover {
          @extend %shadow-3;
        }

      }
    }

  }
  //Modal de necesito ayuda
  &.help_us {
    .modal-dialog {
      width: 413px;

      .modal-content {
        padding: 10px 40px;

        .modal-footer {
          .btn-default {
            float: left;
            margin-left: 0;
            padding-left: 0;
          }
          .btn-primary {
            float: right;
            margin-right: 0;
            width: 98px;
            background-color: $green;
          }
        }
      }
    }
  }
  .modal-dialog {
    top: 150px;
    width: 330px;

    .modal-content {
      border: 0;
      background-color: $white;
      padding-top: 10px;
      overflow: hidden;

      .modal-header {
        border: 0;

        h4 {
          font-weight: bolder;
        }

        button.close {
          margin-top: -10px;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;

          span {
            font-size: 40px;
          }
        }
      }
      .modal-body {
        background-color: $transparent;
        .bootbox-body {
          font-size: 18px;
          text-align: center;

          * {
            font-size: 18px;
          }
        }
        //MODIFICAR CONTRASEÑA
        .miz_form {
          line-height: 20px;
          text-align: left;

          .form, form {

            .form-group {
              position: relative;
              margin-bottom: 20px;

              &:last-child {
                margin-bottom: 0;
              }

              strong {
                display: block;
              }
              input {
                display: block;
                width: 100%;
                height: 40px;
                line-height: 40px;
              }
              .miz_recover_pass {
                display: block;
                font-size: 14px;
                line-height: 20px;
                text-align: left;
                text-decoration: underline;
              }
              #oldPassword_error, #newPassword_error, #repeatPassword_error {
                background-color: $red;
                padding: 0 5px;
                color: $white;
                font-size: 12px;
                line-height: 20px;
              }
            }
            .cta {
              float: right;
              border: 0;
              background-color: $blue;
              color: $white;
              font-weight: bolder;
              @extend %shadow-1;
              @extend %ease-in-out-transition;

              &:hover {
                @extend %shadow-3;
              }
            }
            .miz_recover_pass {
              position: absolute;
              margin-top: -20px;
            }
            .miz_eye {
              display: inline-block;
              position: absolute;
              right: 15px;
              z-index: 5;
              margin-top: 28px;
              background: url($URL_PHOTO + 'off_eye.svg') center center no-repeat $transparent;
              background-color: $gray1;
              width: 40px;
              height: 38px;
              line-height: 38px;
              text-align: center;
              text-indent: -9999px;

              &.on {
                background: url($URL_PHOTO + 'on_eye.svg') center center no-repeat $transparent;
              }
            }

          }
        }
        //ul de valores
        .miz_ul_values {
          margin-left: 40px;
        }
        //help
        .miz_help_form {
          textarea {
            display: block;
            width: 100%;
            height: 133px;
            line-height: 18px;
          }
        }
        //mensajes de contacto
        .miz_msg_opened {
          font-size: 16px !important;

          p {
            margin: 10px 0;
            color: $gray3;
            font-size: 16px !important;

            strong, span {
              color: $gray3;
              font-size: 16px;
            }

            &.detail {
              margin: 20px 0 30px 0;
              padding: 0 20px;
              color: $gray1;
              font-style: italic;
              line-height: 20px;
            }

          }

          .semi_title {
            display: block;
            margin: 20px 0;
            line-height: 20px;
          }

          .miz_user_info {
            margin: 0 -20px;
            background-color: lighten($green, 50%);
            padding: 0 20px;
            height: 50px;
            line-height: 50px;

            strong {
              display: inline-block;
              margin-right: 30px;
              margin-left: 5px;
              overflow: hidden;
              font-weight: normal;

              &:nth-child(3) {
                width: 300px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }

              svg {
                margin-right: 5px;
              }
            }
          }

          .preview {
            border: 1px solid $gray1;
            border-radius: 5px;
            @include borrar_float;
            margin: 0 auto;
            width: 400px;

            img {
              display: block;
              float: left;
              margin: 5px 5px 5px 0;
              width: 160px;
              height: auto;
              min-height: 100px;
            }

            .info {
              .make_model {
                display: block;
                color: $gray3;
                font-weight: bolder;
                line-height: 20px;
              }
              .version {
                display: block;
                color: $gray2;
                line-height: 20px;
              }
              .price {
                display: block;
                margin: 10px 0;
                font-size: 18px;
                line-height: 30px;
                * {
                  color: $gray3;
                  font-size: 20px;
                }
              }
              .tecnical_specifications {
                color: $gray2;
                font-size: 14px;
                line-height: 14px;
              }
            }

          }

        }
        //mensajes de informacion
        .miz_msg_info {
          font-size: 14px;
          line-height: 20px;
        }
        //mesajes de informacion exactamente iguales a los de sketch
        .miz_msg_info_MOD {
          font-size: 18px;
          line-height: 20px;
          text-align: center;
          * {
            font-size: 18px;
            line-height: 20px;
          }
        }

      }
      .modal-footer {
        margin-top: 0;
        border: 0;
        background-color: $transparent;
        padding-top: 0;
        text-align: center;

        a {
          line-height: 30px !important;
        }

        .btn {
          margin: 0 20px;
          box-shadow: none;
          border: 0;
          background-color: $transparent;
          background-image: none;
          min-width: 80px;
          height: 40px;
          line-height: 20px;
          text-align: center;
          text-shadow: none;

          &.btn-default, &.btn-danger {
            color: $blue;
          }

          &.btn-primary, &.btn-success {
            background-color: $blue;
            color: $white;
            @extend %shadow-2;
            @extend %ease-in-out-transition;

          }
          &.miz_red {
            background-color: $red;
          }
        }
        .msg_open_actions {
          text-align: right;
          span {
            float: left;
          }
          a {
            display: inline-block;
            margin-left: 20px;
            color: $blue;
            svg {
              margin-right: 10px;
            }

            &.delete {
              color: $red;
            }
            &.unread {
              svg {
                position: relative;
                margin-bottom: -4px;
              }
            }
          }
        }
      }
    }
  }
}
