@mixin yii_pagination {
  .pagination {
    float: none !important;
    li {
      margin: 0 5px;
      a {
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 28px !important;
        color: $blue3;
        font-size: 16px;
        border-color: $blue3;

        &:hover {
          border-color: $blue3;
        }
      }
      &.active {
        a {
          background-color: $blue3;
          border-color: $blue3;

          &:hover {
            border-color: $blue3;
            background-color: desaturate($blue3, 10%);
          }
        }

      }

      &.previous, &.next {
        display: none;
      }
    }
  }
}
