//main: _master.scss
.miz_title_section {
  margin-bottom: 40px;

  .miz_h1 {
    display: block;
    line-height: 40px;
    color: $gray3;
    font-size: 30px;
    font-weight: bolder;
  }
  .miz_legend {
    display: block;
    line-height: 20px;
    font-size: 14px;
    color: $gray2;
  }
}

.align-center {
  text-align: center;
}
