$DEFAULT_SPACE_STEPS: 50;

@for $i from 1 through $DEFAULT_SPACE_STEPS {
  .width-#{$i}0 {
    width: #{$i}0px !important;
    min-width: #{$i}0px !important;
    max-width: #{$i}0px !important;
  }

  .margin-top-#{$i}0 {
    margin-top: #{$i}0px !important;
  }
}

@for $i from 8 through 40 {
  .font-size-#{$i} {
    font-size: #{$i}px !important;
  }
}

.float-right {
  float: right !important;
}

.float-left {
  float: left !important;
}

.clear-both {
  clear: both !important;
}