// main:../mizona.scss

.miz_info_dealer_free {
  .container {
    .info_dealer {
      background-color: lighten($yellow, 35%);
      font-size: 16px;
      padding: 10px 30px;
      border-radius: 5px;
      margin: 20px 0;

      * {
        font-size: 16px;
      }
      a {
        color: $blue;
        font-weight: bold;
      }

      ul {
        list-style: none;
        margin: 20px 0 20px 60px;
        li {
          list-style: none;
        }
      }
    }
  }
}

//Mensaje flotante en 2º teléfono de datos del concesionario
.floating_msg {
  position: absolute;
  margin-top: -40px;
  margin-left: 510px;
  background-color: lighten($yellow, 35%);
  padding: 0 10px;
  border: 1px solid $yellow;
  color: $gray3;
  line-height: 20px;
  font-size: 12px;
  border-radius: 5px;
}

//Lista de contactos
.miz_contact_list {
  min-height: 700px;
  .container {

    .popover {
      background-color: lighten($orange, 20%);
      border: 0;
      &.top {
        .arrow {
          &:after {
            border-top-color: lighten($orange, 20%);
            background-color: $transparent;
          }
        }
      }
    }

    .grid-view {
      padding: 0;

      table {

        thead, tbody {
          tr {
            border: 1px solid $gray1;
            background-color: $gray0;
            th, td {
              font-size: 14px;
              text-align: center;
              border: 0;
              line-height: 40px;
              color: #4A4A4A;

              a {
                display: inline-block;
                width: auto;
                margin-left: 10px;
                text-decoration: none;

                &.ipopover {
                  margin-top: 5px;
                  position: absolute;
                }
              }

              &:nth-child(1) {
                // background-color:red;
                width: 10%;
              }
              &:nth-child(2) {
                // background-color:orange;
                width: 10%;
              }
              &:nth-child(3) {
                // background-color:yellow;
                width: 10%;
              }
              &:nth-child(4) {
                // background-color:aqua;
                width: 10%;
              }
              &:nth-child(5) {
                // background-color:lime;
                width: 10%;
              }
              &:nth-child(6) {
                // background-color:pink;
                width: 5%;

                a {
                  background-color: #D8D8D8;
                  border: 0;
                  color: $gray3;
                  @extend %shadow-1;
                  @extend %ease-in-out-transition;

                  &:hover {
                    @extend %shadow-3;
                  }
                }

              }
              &:nth-child(7) {
                // background-color:purple;
                width: 5%;

                button {
                  background-color: $transparent;
                  border: 0;

                  &:hover {
                    background-color: $transparent;
                    opacity: 0.6;
                  }
                }
              }

            }
          }
        }

        thead {
          tr {
            background-color: $white;
            border: 0;
          }
        }
      }
    }

    .miz_add_and_help {
      //border:1px solid red;
      margin-top: 20px;

      .miz_lnk_help {
        display: block;
        width: 150px;
        text-align: center;
        line-height: 40px;

        .icon_svg {
          float: left;
          margin: 10px 5px;
          .iconFill {
            fill: $yellow;
          }
        }
      }

      .add_contact {
        float: right;
        line-height: 40px;
        display: block;
        margin-right: 10px;
        color: $gray3;
        cursor: pointer;
        font-weight: bold;

        svg {
          float: left;
          path {
            fill: rgb(0, 178, 90);
          }
        }
      }

    }

    .miz_add_and_help_empty {
      margin-top: -15px;

      .miz_lnk_help {
        display: block;
        width: 150px;
        text-align: center;
        line-height: 40px;
        margin-top: 100px;
        .icon_svg {
          float: left;
          margin: 10px 5px;
          .iconFill {
            fill: $yellow;
          }
        }
      }

      .add_contact {
        line-height: 40px;
        display: block;
        margin-right: 10px;
        color: $gray3;
        font-weight: bold;
        margin-bottom: 100px;
        cursor: pointer;

        &:hover {
          text-decoration: none;
        }

        svg {
          float: left;
          width: 55px;
          height: auto;
          margin-left: -8px;
          margin-top: -8px;

          path {
            fill: rgb(0, 178, 90);
          }
        }
      }

    }

    .miz_need_help {
      display: inline-block;
      // border:1px solid red;
      padding-left: 40px;
      color: $blue;
      line-height: 30px;
      font-size: 14px;
      background: url($URL_PHOTO + 'need_help.svg') no-repeat left center $transparent;
    }

  }

  .help-block {
    background-color: #EF3D42;
    color: #FFF !important;
    padding: 0 5px;
    line-height: 20px;
    margin: -3px 0 0 0;
    z-index: 5;
    position: relative;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .has-error {
    label {
      color: #333;
    }
    input {
      border: 1px solid #F00;
    }
  }

  .modal .modal-content .miz_form .cta {
    height: 40px;
    width: 100px;
    margin: 0 auto;
    float: none;
    display: block;
  }
}

//
