#favorites {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;

  .empty-gif {
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 540px;
  }
}

.value-propositions {
  text-align: center;

  .value-proposition {
    display: inline-block;
    margin: 0;
    width: 100%;
    max-width: 270px;
    font-size: 18px;
    text-align: center;

    &:last-child {
      margin-top: 50px;
      max-width: 100%;
    }

    a {
      font-size: 18px;

      &:last-child {
        display: block;
        margin: 0 auto;
        width: fit-content;
      }
    }

    img {
      display: block;
      margin: 0 auto;
    }
  }
}