.page--empty-hidden {
  padding: 0 10px;

  img.empty-hidden {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 540px;
  }

  .empty-copy {
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: $gray;

    * {
      font-size: 20px;
    }
  }
}