#loginForm {
  margin: 0 auto;
  width: 300px;

  .button {
    margin: 30px 0;
    width: 100%;
  }
}

p.claim-register {
  font-size: 16px;
  text-align: center;

  * {
    font-size: 16px;
  }
}

/** RESPONSIVE: MOBILE **/
@media (max-width: ($smallScreen - 1)) {
  #loginForm {
    width: 280px;
  }
}