.miz_maintenance {
  margin: -50px 0 -450px 0;
  min-height: 950px;
  background-color: $yellow;

  p {
    position: relative;
    margin-bottom: -190px;
    padding-top: 190px;
    font-size: 24px;
    line-height: 50px;
  }

  img {
    width: 100%;
    max-width: 800px;
  }
}



/** ----------------------------------- *
 *              RESPONSIVE
 * ------------------------------------ *
 */

@media (max-width: $tabletScreen) {
  .miz_maintenance {
    margin-bottom: -750px;
    min-height: 430px;

    p {
      margin-bottom: -100px;
      padding-top: 90px;
      font-size: 22px;
    }
  }
}

@media (max-width: $smallScreen) {
  .miz_maintenance {
    margin-bottom: -960px;
    min-height: 450px;

    p {
      margin-bottom: -50px;
      padding-top: 50px;
      font-size: 18px;
      line-height: 20px;
    }
  }
}