.my-data {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 20px;

  .my-data-content {
    margin: 60px auto 110px auto;
    width: 400px;

    /** RESPONSIVE: TABLET **/
    @media (max-width: ($tabletScreen + 1)) {
      margin-bottom: 50px;
    }

    .content-group {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-bottom: 40px;

      span {
        flex: 1;
        font-size: 16px;

        &:first-child {
          margin-right: 30px;
          min-width: 150px;
          max-width: 150px;
          text-align: right;
          font-weight: bold;
        }
      }
    }

    .button {
      margin-left: 180px;
    }

    &--individual {
      .content-group span:first-child {
        min-width: 95px;
        max-width: 95px;
      }

      .button {
        margin-left: 125px;
      }
    }
  }

  /** RESPONSIVE: COMMON MOBILE (MOBILE + SMALL MOBILE) **/
  @media (max-width: $tabletSmallScreen - 1) {
    .my-data-content {
      margin-top: 40px;
      margin-bottom: 76px;
      width: 320px;

      .content-group {
        margin-bottom: 20px;

        span {
          flex: none;
          width: 100%;

          &:first-child {
            margin-right: 0;
            min-width: 100%;
            text-align: left;
            line-height: 1.2;
          }

          &:nth-child(2) {
            margin-top: 10px;
            margin-left: 20px;
            line-height: 1.2;
          }
        }
      }

      .button {
        margin: 0 auto;
      }
    }
  }

  /** RESPONSIVE: SMALL MOBILE **/
  @media (max-width: ($ultraSmallScreen + 1)) {
    .my-data-content {
      margin-bottom: 66px;
      margin-left: 0;

      .content-group span:nth-child(2) {
        margin-left: 10px;
      }
    }
  }

  /** RESPONSIVE: SMALL MOBILE **/
  @media (max-width: ($smallScreen - 1)) {
    .my-data-content {
      width: 280px;
    }
  }
}