.my-data--edit {
  .my-data-content {
    span.value {
      width: 260px;
      -ms-word-break: break-all;
      word-break: break-all;
    }

    .changer-button {
      position: absolute;
      top: 25px;
      right: 0;
      display: block;
      font-size: 14px;

      .extra-info {
        font-size: 14px;
        font-weight: normal;
        color: $blue;
      }
    }

    .form__actions .button {
      margin-left: 160px;
    }
  }

  #form-change-telephone, #form-change-email {
    width: 260px;
    margin: 0 auto;

    .form__actions .button {
      margin-left: 35px;
    }
  }

  /** RESPONSIVE: MOBILE **/
  @media (min-width: $ultraSmallScreen) and (max-width: ($tabletSmallScreen - 1)) {
    .my-data-content {
      span{
        &:nth-child(2) {
          width: 215px;
        }
      }

      .changer-button {
        left: 260px;

        .extra-info {
          display: none;
        }
      }
    }

    .form--edit-my-data, #form-change-telephone, #form-change-email {
      .form__actions {
        margin: 30px 0 0;
        width: auto;

        .button {
          float: right;
          margin: 0;
        }
      }
    }
  }

  /** RESPONSIVE: MOBILE **/
  @media (max-width: ($smallScreen - 1)) {
    .my-data-content {
      .changer-button {
        left: 220px;
      }
    }
  }
}

#form-update-password {
  .form__actions {
    width: auto;

    .button {
      float: right;
      margin: 0;
    }
  }
}