.page--saved-searches {
  padding: 0 10px;

  img.empty-saved-search {
    display: block;
    margin: 0 auto;
    max-width: 540px;
    width: 100%;
  }

  img.search {
    display: block;
    margin: 0 auto;
    max-width: 160px;
    width: 100%;
  }

  .empty-copy {
    font-size: 20px;
    line-height: 30px;
    text-align: center;

    * {
      font-size: 20px;
    }
  }
}

@media (max-width: 677px) {
  .searches {
    .empty-copy {
      font-size: 14px;

      * {
        font-size: 14px;
      }
    }
  }
}