//main: ../mizona.scss
.miz_index_menu {
  width: 300px;
  margin-left: 20px;
  ul {
    li {
      display: block;
      //background-color: lime;
      line-height: 40px;

      a {
        color: $blue;
        font-size: 16px;

        ////// ICONOS DEL MENÚ //////
        $content_icon: 40px;
        $icon: 20px;

        &.miz_icon_menu, &[rel="nofollow"] {
          display: block;
          width: 60px;
          height: $content_icon;
          position: relative;
          float: left;

          .icon_svg {
            position: absolute;
            width: $icon;
            height: $icon;
            top: ($content_icon - $icon) / 2;
            margin: 0 auto;
            left: 0;
            z-index: 2;
            .iconFill {
              //fill:$GRIS_5;
              fill: #9B9B9B;
            }
          }

          span {
            position: absolute;
            display: inline-block;
            min-width: 10px;
            height: 14px;
            border-radius: 8px;
            background-color: $red;
            color: $white;
            font-size: 10px;
            line-height: 14px;
            text-align: center;
            z-index: 3;
            top: 2px;
            left: 12px;
            padding: 0 4px;
            zoom: 1.2;
          }

        }

      }

      &:nth-child(1) {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $gray1;
      }

      &:nth-child(4) {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $gray1;
      }
    }
  }

  &.miz_particular {
    ul {
      li {
        border: 0;
        margin: 0;
        padding: 0;

        &:nth-child(1) {
          margin-bottom: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid $gray1;
        }

        &:nth-child(4) {
          .miz_icon_menu {
            svg {
              position: relative;
              margin-bottom: -4px;
            }
          }
        }
        &:nth-child(6) {
          margin-bottom: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid $gray1;
        }
      }
    }
  }

  &.miz_free_conce {

    ul {
      li {
        border: 0;
        margin: 0;
        padding: 0;

        &:nth-child(3) {
          padding-left: 60px;
          line-height: 30px;
        }

        &:nth-child(3) {
          margin-bottom: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid $gray1;
        }

        &:nth-child(4) {
          .miz_icon_menu {
            svg {
              position: relative;
              margin-bottom: 4px;
            }
          }
        }
        &:nth-child(8) {
          margin-bottom: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid $gray1;
        }
      }
    }
    #sm1, #sm2 {
      text-decoration: none !important;

      span {
        display: inline-block;
        text-align: center;
        transform: rotate(0deg);
        margin-top: -10px;
        @extend %ease-in-out-transition;
        position: relative;
        line-height: 10px;

        &.on {
          transform: rotate(180deg);
        }
      }
    }
    .submenu {
      ul {
        li {
          border: 0;
          margin: 0;
          padding: 0;
          line-height: 30px;

          a {
            font-size: 14px;
          }
        }
      }
    }
  }
}
