// main:../mizona.scss

$altura_avisos: 160px;
.miz_clasified_fixed {
  background-color: $white;

  &.fixed {
    position: fixed;
    top: 0;
    z-index: 20;
    margin-bottom: 200px;
    height: $altura_avisos;
    @extend %shadow-2;
  }

  .container {
    .miz_info_block {
      border: 1px solid $blue;
      border-radius: 5px;
      background-color: lighten($blue, 25%);
      padding: 10px;
      line-height: 18px;

      &.error {
        border: 1px solid $red;
        background-color: lighten($red, 25%);
      }
    }
  }

}

.empty_classifed {
  min-height: 700px;
  .container {
    text-align: center;

    p {
      font-weight: bolder;
      line-height: 30px;

      &:nth-child(1) {
        font-size: 18px;
      }
      &:nth-child(2) {
        font-size: 16px;
      }

    }

    a {
      display: inline-block;
      border-radius: 5px;
      background-color: $blue;
      padding: 0 20px;
      color: $white;
      font-size: 14px;
      line-height: 40px;
      text-decoration: none;
      @extend %shadow-1;
      @extend %ease-in-out-transition;

      &:hover {
        @extend %shadow-3;
      }
    }
  }
}

.miz_classified_list {
  &.fixed {
    margin-top: $altura_avisos;
  }
  .container {
    .filters {
      height: 40px;

      form, .form {
        @include borrar_float;

        .form-group {
          float: left;
          margin: 0 10px 0 0;
          padding: 0;
          line-height: 40px;

          @include inputsNone;

          select {
            border: 1px solid #DDD;
            padding-right: 25px;
            line-height: 12px;
          }
        }

        .button, button {
          border: 0;
          background-color: $gray2;
          height: 40px;
          color: $white;
          font-weight: bolder;
          line-height: 30px;
          @extend %shadow-2;
          @extend %ease-in-out-transition;

          &:hover {
            @extend %shadow-3;
          }
        }
      }

      .upClassified {
        display: block;
        float: right;
        border-radius: 5px;
        background-color: $blue;
        padding: 0 20px;
        color: $white;
        line-height: 40px;
        @extend %ease-in-out-transition;
        @extend %shadow-2;
        font-weight: bold;
        text-decoration: none !important;

        &:hover {
          @extend %shadow-3;
        }
      }

      .positioning-element{
        @extend %ease-in-out-transition;
        @extend %shadow-2;
        float: right;
        margin-right: 10px;
        border:1px solid #FFAA00;
        border-radius: 5px;
        padding-right: 20px;
        font-weight: bold;
        text-decoration: none;
        color: #FA0;
        background-color: white;

        svg{
          float: left;
        }
      }

    }
    .grid-view {
      margin-top: 20px;
      padding: 0;

      table {
        thead {
          display: none;
        }
        tbody {
          border: 0;
          tr {
            border: 0;
            td {
              border: 0;
              padding: 0;

              .miz_classified_block {
                border: 1px solid #DDD;
                @include borrar_float;
                @extend %shadow-2;
                margin-bottom: 20px;

                &.header_expire_soon {
                  border-color: $red;
                }

              }

              .miz_classified_header {
                border-bottom: 1px solid #DDD;
                padding: 0 10px;
                height: 50px;
                line-height: 50px;

                .info {
                  float: left;
                  height: 50px;
                  line-height: 50px;

                  * {
                    font-size: 14px;
                  }

                  small {
                    margin-right: 15px;
                  }
                }
                .status_classified {
                  float: right;
                  height: 50px;

                  .status {
                    display: block;
                    float: left;
                    margin-left: 10px;
                    font-size: 16px;
                    line-height: 25px;
                    text-align: center;

                    span {
                      display: block;
                      font-size: 14px;
                    }

                    svg {
                      fill: $gray2;
                      width: 16px;
                      height: 16px;

                      #mensajes {
                        fill: rgb(74, 74, 74);
                      }
                    }
                  }
                }

                &.header_expire_soon {
                  border-color: $red;
                  background-color: lighten($red, 25%);
                }
              }
              .miz_classified_carInfo {
                float: left;
                width: 60%;

                .miz_photo {
                  position: relative;
                  float: left;
                  margin-right: 10px;
                  width: 230px;
                  height: 160px;

                  img {
                    width: 100%;
                    height: auto;
                    min-height: 160px;
                  }

                  .extended-warranty {
                    display: table;
                    position: absolute;
                    bottom: 0;
                    border: 8px solid white;
                    background: white;

                    svg {
                      vertical-align: middle;
                      margin-right: 4px;
                      width: 16px;
                      height: 16px;
                    }
                  }
                }
                .miz_data_car {
                  float: left;
                  width: 360px;
                  height: 160px;

                  .ipopover {
                    cursor: default;
                    &:hover {
                      text-decoration: none;
                    }
                  }
                  span {
                    display: block;

                    &.make_model {
                      margin-top: 10px;
                      color: $gray3;
                      font-size: 16px;
                      font-weight: bolder;
                    }
                    &.version {
                      color: $gray2;
                      font-size: 14px;
                    }
                    &.precio {
                      margin: 10px 0 20px 0;
                      color: $gray3;
                      font-size: 24px;
                      font-weight: bolder;

                      span {
                        font-size: 12px;
                        font-weight: normal;
                      }

                    }
                    &.tecnical-data {
                      display: inline-block;
                      color: $gray2;
                    }
                  }
                }
                .status_label {
                  float: left;
                  margin-top: 50px;
                  border-radius: 2px;
                  padding: 5px 10px;

                  .actived {
                    background-color: $green !important;
                    color: $white !important;
                  }
                  .classified-pending {
                    background-color: $yellow;
                    color: $white;
                  }
                  .deactivate, .expired {
                    background-color: darken($gray1, 10%) !important;
                    color: $white !important;
                  }
                }
              }
              .miz_classified_actions {
                position: relative;
                float: left;
                padding-right: 10px;
                width: 40%;
                height: 160px;
                line-height: 30px;
                text-align: right;

                .data_expire {
                  float: right;
                  margin-top: 10px;
                  text-align: left;

                  span {
                    &.expire_soon {
                      color: $red;
                    }
                  }
                  .data_position{
                    margin-left: -10px;
                    height: 20px;
                    line-height: 20px;

                    span{
                      margin-right: 5px;
                      color: #FFAA00;
                      font-weight: bold;
                      a{
                        color: #008BE0;
                        font-weight: normal;
                      }
                    }
                    svg{
                      float: left;
                      margin-top: -4px;
                      width:30px;
                      height:30px;
                    }
                  }
                }

                .buttons_bar {
                  position: absolute;
                  right: 10px;
                  bottom: 10px;
                  width: 100%;
                  font-weight: bold;

                  & > a {
                    display: inline-block;
                    border: 1px solid $blue3;
                    border-radius: 5px;
                    padding: 0 20px;
                    color: $blue3;
                    line-height: 40px;
                    @extend %ease-in-out-transition;

                    &.miz_edit, &.renovate, &.miz_activo {
                      background-color: $blue3;
                      color: $white;
                      @extend %shadow-2;
                      font-weight: bolder;
                    }
                    &.miz_disabled {
                      font-weight: bolder;
                    }

                    &:hover {
                      text-decoration: none;
                      @extend %shadow-3;
                    }
                  }
                }

              }

            }

          }
        }
      }

      .miz_pagination {
        text-align: center;
        .no-class {
          div {
            ul {
              float: none !important;
            }
          }
        }
      }

    }
  }
}
