//main:../mizona.scss

@include yii_pagination;

$color_lineas: lighten($gray1, 10%);

@mixin columnas_hidden {
  td {
    padding: 0;
    margin: 0;
    height: 70px;
    display: inline-block;
    border-top: 1px solid $gray1;
    border-bottom: 1px solid $gray1;

    &:nth-child(1) {
      //background-color: red;
      position: relative;
      width: 9%;
      border-left: 1px solid $gray1;

      .msg_info {
        position: absolute;
        top: -10px;
        background-color: $gray4;
        color: $white;
        width: 400px;
        z-index: 5;
      }

      img {
        width: 90px;
        height: 60px !important;
        background-color: $white;
        position: absolute;
        top: 5px;
        left: 5px;
      }
    }
    &:nth-child(2) {
      //background-color: orangered;
      width: 71%;

      strong {
        display: block;
        margin-top: 10px;
        font-size: 14px;
        small {
          font-size: 14px;
          font-weight: normal;
        }
      }

      div {
        line-height: 20px;
        margin-top: -10px;
        .datos {
          display: inline-block;
          min-width: 120px;
        }
      }

    }
    &:nth-child(3) {
      //background-color: yellow;
      border-right: 1px solid $gray1;
      width: 20%;
      position: relative;

      a {
        position: absolute;
        line-height: 40px;
        height: 40px;
        background-color: $color_lineas;
        border: 0;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 100px;
        padding: 0;
        top: 10px;
        @extend %shadow-2;
        @extend %ease-in-out-transition;

        &:hover {
          @extend %shadow-3;
        }
      }
    }
  }
}

@mixin miz_grid_hidden {
  .grid-view {
    clear: both;
    margin: 0;
    padding: 0;

    table {
      thead {
        display: none;
      }
      tbody {
        tr {
          background-color: $color_lineas;
          border: 0;
          border-bottom: 10px solid $white;
          display: block;
          width: 100%;

          @include columnas_hidden;
          &.odd {
            background-color: $color_lineas;
            @include columnas_hidden;
          }
        }

      }
    }
  }
}

.miz_hidden_list {
  .container {
    @include borrar_float;
    .miz_hidden_list_and_actions {
      //background-color: lime;
      padding-bottom: 10px;
    }
    @include miz_grid_hidden;
    .no-class {
      text-align: center;
    }
  }
}
