//main:../mizona.scss

@include yii_pagination;
$color_lineas: lighten($gray1, 10%);

@mixin columnas_saved {
  td {
    padding: 0;
    margin: 0;
    height: 70px;
    display: inline-block;
    border-top: 1px solid $gray1;
    border-bottom: 1px solid $gray1;

    &:nth-child(1) {
      position: relative;
      width: 15%;
      border-left: 1px solid $gray1;

      .msg_info {
        position: absolute;
        top: -10px;
        background-color: $gray4;
        color: $white;
        width: max-content;
        width: -moz-max-content;
        width: -webkit-max-content;
        padding: 0 10px;
        z-index: 5;
      }
      .miz_numbers {
        font-weight: bold;
        font-size: 30px;
        display: inline-block;
        background-color: $white;
        width: 100%;
        height: 100%;
        text-align: center;
        color: $gray2;
        border-right: 1px solid $gray1;
        padding-top: 10px;

        &:after {
          position: absolute;
          bottom: 0;
          content: 'resultados';
          display: block;
          color: $gray2;
          font-size: 16px;
          width: 100%;
          text-align: center;
        }
      }

      img {
        width: 90px;
        height: 60px !important;
        background-color: $white;
        position: absolute;
        top: 5px;
        left: 5px;
      }
    }
    &:nth-child(2) {

      width: 65%;
      padding-left: 10px;

      strong {
        display: block;
        margin-top: 10px;
        font-size: 14px;
        small {
          font-size: 14px;
          font-weight: normal;
        }
      }

      .editable {
        color: $gray3;
        text-decoration: none;
        border: 0;
        font-weight: bolder;
        font-size: 16px;
        display: inline-block;
        line-height: 20px;
        margin: 10px 0 5px 0;

        &:after {
          content: ' (Cambiar nombre)';
          color: $blue;
          font-size: 14px;
          font-weight: normal;

        }

        &:hover {
          color: desaturate($blue, 10%);
        }

      }

      span {
        display: block;
        color: $gray2;
      }

      .datos {
        display: inline-block;
        min-width: 50px;
      }
    }
    &:nth-child(3) {

      border-right: 1px solid $gray1;
      width: 20%;
      position: relative;

      .miz_lnk_res {
        display: inline-block;
        line-height: 40px;
        width: 100px;
        text-align: center;
        margin: 10px 5px;
      }
      .botonFormulario {
        display: inline-block;
        line-height: 40px;
        height: 40px;
        background-color: $color_lineas;
        border: 0;
        width: 100px;
        padding: 0;
        margin: 10px 5px;
        @extend %shadow-2;
        @extend %ease-in-out-transition;

        &:hover {
          @extend %shadow-3;
        }
      }

    }
  }
}

@mixin miz_grid_saved {
  .grid-view {
    clear: both;
    margin: 100px 0 0 0;
    padding: 0;

    table {
      thead {
        display: none;
      }
      tbody {
        tr {
          background-color: $color_lineas;
          border: 0;
          border-bottom: 20px solid $white;
          display: block;
          width: 100%;

          @include columnas_saved;
          &.odd {
            background-color: $color_lineas;
            @include columnas_saved;
          }
        }

      }
    }
  }
}

.miz_saved_search_list {
  .container {
    @include borrar_float;

    .miz_empty_search {
      a {
        display: inline-block;
        color: $white;
        background-color: $gray4;
        line-height: 40px;
        height: 40px;
        font-size: 14px;
        font-weight: bolder;
        border-radius: 5px;
        padding: 0 20px;
      }
    }

    .miz_saved_search_list_and_actions {

      padding-bottom: 10px;

      .miz_add_search {
        display: inline-block;
        float: left;
        a {
          display: inline-block;
          color: $white;
          background-color: $gray4;
          line-height: 40px;
          height: 40px;
          font-size: 14px;
          font-weight: bolder;
          border-radius: 5px;
          padding: 0 20px;
          @extend %shadow-2;
          @extend %ease-in-out-transition;
          &:hover {
            @extend %shadow-3;
            text-decoration: none;
          }
        }
      }

      .miz_order_by {

        float: right;
        display: inline-block;
        line-height: 40px;
        height: 40px;
        margin-bottom: 40px;
        @include inputsNone;

        select {
          border: 1px solid $gray1;
          padding: 0 20px;
          height: 40px;
          line-height: 40px;
          margin-left: 10px;
        }
      }
    }
    @include miz_grid_saved;
    .no-class {
      text-align: center;
    }
  }
}

.popover {
  .popover-title {
    background-color: $transparent;
    border: 0;
  }
  .popover-content {
    div {
      form {
        .form-group {
          @include borrar_float;
          width: 100%;
          .editable-input {
            width: 100%;
            input {
              width: 100%;
            }
          }

          .editable-buttons {
            width: 100%;
            margin: 0;
            display: block;

            button {
              width: 40%;
              margin: 10px 5%;
              text-align: center;
              &[type="submit"] {
                background-color: $gray4;
              }
              &[type="button"] {

              }
            }

          }

        }
      }
    }
  }
}
