//main:../mizona.scss

@include yii_pagination;

$color_lineas: lighten($gray1, 10%);

@mixin columnas {
  td {
    padding: 0;
    margin: 0;
    height: 70px;
    display: inline-block;
    border-top: 1px solid $gray1;
    border-bottom: 1px solid $gray1;

    &:nth-child(1) {
      position: relative;
      width: 9%;
      border-left: 1px solid $gray1;

      .msg_info {
        position: absolute;
        top: -10px;
        background-color: $gray4;
        color: $white;
        width: max-content;
        width: -moz-max-content;
        width: -webkit-max-content;

        z-index: 5;
        padding: 0 10px;
      }

      img {
        width: 90px;
        height: 60px !important;
        background-color: $white;
        position: absolute;
        top: 5px;
        left: 5px;
      }
    }
    &:nth-child(2) {
      width: 61%;

      strong {
        display: block;
        margin-top: 10px;
        font-size: 14px;
        small {
          font-size: 14px;
          font-weight: normal;
        }
      }
      div {
        line-height: 20px;
        margin-top: -10px;
        span {
          display: inline-block;
          width: 110px;

          &:last-child {
            margin-left: 80px;
            min-width: 100px;
            width: auto;
          }
        }
      }

      .datos {
        display: inline-block;
        min-width: 50px;
      }
    }
    &:nth-child(3) {
      border-right: none;
      width: 15%;
      position: relative;
      text-align: center;
      padding: 25px 0;

      a {
        position: absolute;
        line-height: 40px;
        height: 40px;
        background-color: $color_lineas;
        border: 0;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 100px;
        padding: 0;
        top: 10px;
        @extend %shadow-2;
        @extend %ease-in-out-transition;

        &:hover {
          @extend %shadow-3;
        }
      }
    }
    &:nth-child(4) {
      //background-color: yellow;
      border-right: 1px solid $gray1;
      width: 15%;
      position: relative;

      a {
        position: absolute;
        line-height: 40px;
        height: 40px;
        background-color: $color_lineas;
        border: 0;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 100px;
        padding: 0;
        top: 10px;
        font-weight: bold;
        @extend %shadow-2;
        @extend %ease-in-out-transition;

        &:hover {
          @extend %shadow-3;
        }
      }
    }
  }
}

@mixin miz_grid {
  .grid-view {
    clear: both;
    margin: 100px 0 0 0;
    padding: 0;

    table {
      thead {
        display: none;
      }
      tbody {
        tr {
          background-color: $color_lineas;
          border: 0;
          border-bottom: 20px solid $white;
          display: block;
          width: 100%;

          @include columnas;
          &.odd {
            background-color: $color_lineas;
            @include columnas;
          }
        }

      }
    }
  }
}

.miz_favorites_list {
  .container {
    @include borrar_float;

    .miz_empty_favorites {
      a {
        display: inline-block;
        color: $white;
        background-color: $gray4;
        line-height: 40px;
        height: 40px;
        font-size: 14px;
        font-weight: bolder;
        border-radius: 5px;
        padding: 0 20px;
      }
    }

    .miz_favorites_list_and_actions {
      //background-color: lime;
      padding-bottom: 10px;

      .miz_add_favorite {
        display: inline-block;
        float: left;
        a {
          display: inline-block;
          color: $white;
          background-color: $gray4;
          line-height: 40px;
          height: 40px;
          font-size: 14px;
          font-weight: bolder;
          border-radius: 5px;
          padding: 0 20px;
          @extend %shadow-2;
          @extend %ease-in-out-transition;
          &:hover {
            @extend %shadow-3;
            text-decoration: none;
          }
        }
      }

      .miz_order_by {
        //        background-color: pink;
        float: right;
        display: inline-block;
        line-height: 40px;
        height: 40px;
        margin-bottom: 40px;
        @include inputsNone;

        select {
          border: 1px solid $gray1;
          padding: 0 20px;
          height: 40px;
          line-height: 40px;
          margin-left: 10px;
        }
      }
    }

    @include miz_grid;
    .no-class {
      text-align: center;

    }
  }
}
