//main:_my_data.scss
.miz_data_user_edit {
  @extend .miz_data_user;

  .container {

    #show_messages {
      background: rgba(0, 178, 90, 0.25);
      border-radius: 3px;
      font-size: 14px;
      color: #4A4A4A;
      margin: 20px 0;
      padding: 0 10px;
    }

    form, .formulario {
      width: 500px;
      color: $gray3;
      font-weight: normal;

      .form-group {
        @include borrar_float;
        margin-bottom: 10px !important;
        @include inputsNone;

        label {
          display: inline-block;
          width: 205px;
          float: left;
          text-align: right;
          margin-right: 20px;
          font-size: 16px;
          font-weight: normal;
          line-height: 40px;
          margin-bottom: 0;
          padding-top: 0;
        }
        input[type="text"] {
          border: 1px solid #DDD;
        }
        input, select {
          float: left;
          border: 1px solid #DDD;
          width: 48%;
          height: 40px;
          padding: 0 12px;
          font-size: 16px;
          line-height: 40px;
        }

        &.miz_form_group {
          label {
            width: 100%;
            display: block;
            float: left;
            text-align: left;
            position: relative;
            margin: 0;
            font-weight: normal;

            span {
              display: block;
              width: 205px;
              float: left;
              text-align: right;
              margin-right: 33px;
              font-size: 16px;
            }

            a {
              position: absolute;
              min-width: 150px;
              color: $blue;
              font-weight: normal;
            }

          }
        }

        .help-block {
          &.error {
            background-color: $red;
            color: $white;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            padding: 0 5px;
            line-height: 20px;
            float: left;
            margin-top: -5px;
            width: 48%;
            margin-left: 225px;
          }
        }
      }

      .botonera {
        margin-top: 70px;
        margin-right: 75px;

        a, input[type="submit"] {
          display: inline-block;
          text-align: center;
          line-height: 40px;
          width: 100px;
          border-radius: 5px;
          border: 0;

          &.ok {
            background-color: $blue;
            color: $white;
            font-size: 16px;
            box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.19);
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            -ms-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            float: right;

            &:hover {
              text-decoration: none;
              box-shadow: 0 19px 38px 0 rgba(0, 0, 0, 0.3);
            }
          }
          &.cancel {
            color: $blue;
            margin-left: 205px;
          }
        }
      }
    }
    .miz_need_help {
      display: inline-block;
      margin-top: 30px;
      padding-left: 40px;
      color: $blue;
      line-height: 30px;
      font-size: 14px;
      background: url($URL_PHOTO + 'need_help.svg') no-repeat left center $transparent;
    }
  }

  .subcontainer-my-data {
    display: inline-block;
    width: 500px;
  }

  .miz_mod_pass {
    text-align: left;
  }

  #email-changer, #telephone-changer {
    h4 {
      font-size: 20px;
    }

    .modal-content {
      margin: 0 auto;
      width: 500px;
      padding: 10px;
    }

    .edit-wrapper {
      margin-bottom: 10px;

      label {
        float: left;
        display: inline-block;
        width: auto;
        margin-left: 18px;
        padding-right: 25px;
        font-size: 16px;
        line-height: 40px;
        font-weight: normal;
        text-align: right;
      }

      .input-data {
        width: fit-content;
        width: -moz-fit-content;

        &.input {
          float: right;
          width: 100%;
        }
      }
    }

    form .cta-form {
      margin-left: 140px;
    }

    .ok_btn {
      width: 120px;
      font-size: 16px;
    }

    .cancel {
      float: left;
      margin-left: 70px;
      color: #4990E2;
    }
  }

  #email-changer {
    form .cta-form {
      margin-left: 198px;
    }
  }
}

#telephone-changer {
  label {
    min-width: 270px;
  }
}

#password-changer {
  .help-block {
    background-color: #EF3D42;
    color: #FFF !important;
    padding: 0 5px;
    line-height: 20px;
    margin: -3px 0 0 0;
    z-index: 5;
    position: relative;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .has-error {
    label {
      color: #333;
    }
    input {
      border: 1px solid #F00;
    }
  }

  .has-success {
    label {
      color: #333;
    }
    input {
      border: 1px solid #333;
    }
  }

  .ok_btn {
    @extend %shadow-2;
    @extend %ease-in-out-transition;

    &:hover {
      @extend %shadow-3;
    }
  }
}

#sms-validation {
  min-height: 600px;

  p {
    font-size: 16px;
  }

  strong {
    font-size: 16px;
  }

  form {
    margin: 0 auto;
    width: 700px;
    height: 200px;
    padding: 0 190px;

    * {
      float: right;
    }

    .input-data {
      min-width: 180px;
      max-width: 180px;
    }

    .cta-form {
      width: 180px;
    }

    .error_msg {
      width: 100%;
    }

    input {
      width: 180px;
    }

    a {
      margin-top: 16px;
      display: block;
      padding: 0 40px;
      cursor: pointer;
      text-decoration: none;
      font-size: 14px;
      text-align: center;
      color: $blue2;
    }
  }

  .margin-bottom-25 {
    margin-bottom: 25px;
  }

  a.back {
    float: left;
    clear: both;
  }

  #SmsValidationForm_code_error_wrapper {
    label {
      width: 100px;
      font-size: 14px;
    }
  }
}

#set-new-phone {
  min-height: 600px;

  p {
    margin-bottom: 0;
    font-size: 16px;
    text-align: center;
    color: $gray3 !important;
  }

  b {
    font-size: 16px;
  }

  .call-info {
    width: 480px;
    margin: 0 auto 40px auto;

    p {
      margin-top: 20px;
      font-size: 18px;
      text-align: left;
      color: $gray3 !important;
    }

    span {
      font-size: 18px;
      font-weight: bold;
    }

    b {
      font-size: 27px;
    }
  }

  a.cta-form {
    display: inline-block;
    margin-left: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: 0;
    width: fit-content;
    width: -moz-fit-content;
    padding: 0 12px;
    background-color: $green2;
    border-radius: 5px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    font-weight: normal;
    color: $white;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 19px 38px 0 rgba(0, 0, 0, 0.3);
      text-decoration: none;
    }
  }
}

.validation-phone-title {
  padding-top: 60px;
  font-size: 25px;
  font-weight: bold;
}

.too-many-tries {
  .container {
    margin: 50px auto;
    min-height: 600px;
  }

  .title-tries {
    margin-bottom: 15px;
    font-size: 16px;
    text-align: left;
  }

  .margin-top-80 {
    margin-top: 80px;
  }

  .link-center {
    display: block;
    text-align: center;
  }

  p {
    text-align: center;
    font-size: 16px;
  }

  b, strong {
    font-size: 16px;
  }

  a {
    font-size: 16px;
    color: $blue2;
    &:hover {
      text-decoration: none;
      color: $blue2;
    }
  }

  svg {
    margin: 20px auto;
    display: block;
    width: 40px;
    height: auto;
  }

  a.cta-form {
    margin: 20px auto;
    display: block;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: 0;
    width: fit-content;
    width: -moz-fit-content;
    padding: 0 12px;
    background-color: $green2;
    border-radius: 5px;
    font-size: 16px;
    line-height: 40px;
    font-weight: normal;
    text-align: center;
    color: $white;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 19px 38px 0 rgba(0, 0, 0, 0.3);
      text-decoration: none;
      color: $white;
    }
  }
}


