//main:../mizona.scss

.miz_data_user {
  min-height: 700px;
  .container {
    .miz_data {
      width: 500px;
      margin-left: 40px;

      &.conce_free {
        margin-left: 0;
      }

      span, strong {
        $alto: 60px;
        line-height: $alto;
        height: $alto;
      }

      span {
        display: block;
        width: 35%;
        float: left;
        text-align: right;
        padding-right: 10px;
      }
      strong {
        display: block;
        width: 65%;
        float: left;
      }

      .float_msg {
        position: relative;

        &:after {
          content: 'Este teléfono no está visible en coches.com';
          background-color: lighten($yellow, 35%);
          right: -60px;
          width: 280px;
          padding: 0 10px;
          border: 1px solid $yellow;
          color: $gray3;
          line-height: 20px;
          top: 20px;
          font-size: 12px;
          position: absolute;
          border-radius: 5px;
        }

      }

      a {
        margin-left: 50%;
        clear: both;
        display: inline-block;
        background-color: $green;
        color: $white;
        width: 100px;
        text-align: center;
        line-height: 40px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: bolder;
        @extend %shadow-2;
        @extend %ease-in-out-transition;

        &:hover {
          @extend %shadow-3;
          text-decoration: none;
        }
      }
    }
    .miz_lnk_help {
      display: block;
      width: 150px;
      text-align: center;
      line-height: 40px;
      margin-top: 40px;

      .icon_svg {
        float: left;
        margin: 10px 5px;
        .iconFill {
          fill: $yellow;
        }
      }
    }
  }
}

.miz_lnk_out {
  display: block;
  margin-top: 40px;
  border: 1px solid $gray1;
  border-radius: 5px;
  width: 150px;
  background-color: $white;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  color: $gray3;

  &:hover {
    text-decoration: none;
  }

  .icon_svg {
    float: left;
    margin: 10px;
    .iconFill {
      fill: $gray2;
    }
  }
}

.miz_need_help {
  display: inline-block;
  // border:1px solid red;
  padding-left: 40px;
  color: $blue;
  line-height: 30px;
  font-size: 14px;
  background: url($URL_PHOTO + 'need_help.svg') no-repeat left center $transparent;
}
