//main:../mizona.scss

.miz_min_max {
  min-height: 600px;
}

.info_free_dealer {
  .container {
    .msg {
      background-color: lighten($yellow, 35%);
      margin: 0 0 40px 0;
      padding: 10px;
      border-radius: 5px;
      font-size: 16px;

      a {
        color: $blue;
        font-weight: bolder;
      }
    }
  }
}

.empty_classifed {
  min-height: 700px;
  .container {

  }
}

.miz_action_bar {
  @include borrar_float;
  .miz_msg_search {
    float: left;
    line-height: 40px;

    span {
      font-weight: bolder;
      display: inline-block;
      margin-right: 10px;
    }
    input {
      border: 1px solid $gray1;
      border-radius: 5px;
      margin-right: 10px;
      display: inline-block;
      padding: 0 5px;
      width: 270px;
      height: 40px;
    }
    a {
      display: inline-block;
      background-color: $green;
      text-align: center;
      line-height: 40px;
      font-weight: bolder;
      color: $white;
      font-size: 14px;
      width: 80px;
      border-radius: 5px;
      @extend %shadow-2;
      @extend %ease-in-out-transition;

      &:hover {
        text-decoration: none;
        @extend %shadow-3;
      }
    }
  }
  .miz_msg_filter {
    float: right;
    text-align: right;

    @include inputsNone;
    select {
      line-height: 40px;
      width: 150px;
      border: 1px solid $gray1;
      padding-left: 10px;
    }
    span {
      display: block;
      color: $gray2;
      line-height: 30px;
    }
  }
}

.miz_message_options {
  margin-top: 40px;
  .container {
    * {
      display: inline-block;
      line-height: 40px;
    }
    span {
      width: 40px;
      text-align: center;
    }
    strong {
      margin: 0 10px;
    }
    a {
      padding: 0 10px;
      color: $blue;

      svg {
        margin-right: 10px;
      }

      &.eliminar {
      }
      &.noleido {
        svg {
          position: relative;
          margin-bottom: -4px;
        }
      }
      &.leido {
      }
    }
  }
}

.miz_msg_list {
  .container {
    $color_lineas: lighten($gray1, 10%);
    table {
      border: 0;
      thead {
        display: none;
      }
      tr {
        border: 0;
        background-color: lighten($yellow, 35%);
        border-bottom: 10px solid $white;

        &:hover {
          background-color: lighten($yellow, 35%);
          cursor: pointer;
        }

        &.read {
          background-color: $color_lineas;
          &:hover {
            background-color: lighten($green, 50%);
          }
        }

        td {
          border: 0;
          line-height: 40px;

          span {
            color: $gray3;
          }

          &:nth-child(1) {
            width: 40px;
            text-align: center;
          }
          &:nth-child(2) {
            font-weight: bolder;
          }
          &:nth-child(3) {
            font-weight: bolder;
            min-width: 200px;
          }
          &:nth-child(4) {
            span {
              display: block;
              overflow: hidden;
              line-height: 40px;
              color: $gray2;
            }
          }
          &:nth-child(5) {
            width: 150px;
          }

        }
      }
    }
  }
}
