//main:../_master.scss

$lnkNormal: $blue;
$lnkSepara: $red;
$lnkFinal: $gray2;

.miz_breadcrumbs {
  .container {
    @include borrar_float;
    a {
      display: inline-block;
      color: $lnkNormal;
      text-decoration: none;
      float: left;
      line-height: 40px;
      &:hover {
        color: darken($blue, 20%);
      }
    }

    span {
      display: inline-block;
      float: left;
      color: $lnkSepara;
      line-height: 40px;
      padding-right: 10px;
      &:last-of-type, &:last-child {
        color: $lnkFinal;
      }

    }
  }
}

/// BOOTSTRA BREADCRUMBS
ul.breadcrumb {
  margin: 0;
  padding: 0;
  background-color: $transparent;
  @include borrar_float;

  li {
    float: left;
    color: $lnkNormal;

    &.active {
      color: $lnkFinal;
      line-height: 40px !important;

      &:before {
        color: $lnkSepara;
        content: '>' !important;
      }
    }

    &.left-indicator {
      &:before {
        float: left;
        line-height: 40px !important;
        content: '>' !important;
      }
    }
  }
}

@import "_responsive.scss";
