//main:_breadcrumbs.scss
@media (max-width: $width_max_xs) {
  .miz_breadcrumbs {
    .container {
      padding-left: 10px;
    }
  }
}

@media (min-width: $width_max_s) and (max-width: ($width_max_m - 1)) {
  .miz_breadcrumbs {
    .container {
      padding-left: 10px;
    }
  }
}

@media (min-width: $width_max_m) and (max-width: ($width_max_l - 1)) {
  .miz_breadcrumbs {
    .container {
      padding-left: 10px;
    }
  }
}

@media (min-width: $width_max_l) and (max-width: ($width_max_xl - 1)) {
}

@media (min-width: $width_max_xl) {
}
