.gallery {
    font-size: 10px;
    font-weight: bolder;
    text-align: center;
    font-family: Tahoma,Geneva,sans-serif;
}
.gallery * {
    outline: none;
}
.gallery div {
    border: 1px solid #ddd;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #fff;
    padding: 5px;
    width: 158px;
    height: 148px;
    margin: 1px 8px 9px 0;
    float: left;
    box-shadow: 0 0 6px #666;
    -moz-box-shadow: 0 0 6px #666;
    -webkit-box-shadow: 0 0 6px #666;
}
.gallery div img {
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 1px;
    width: 154px;
    height: 109px;
    margin-bottom: 8px;
}
.gallery div a:link, .gallery div a:visited, .gallery div a:hover {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    zoom: 1;
    background-color: #666;
    text-decoration: none;
    height: 22px;
    line-height: 21px;
    color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    text-shadow: 0 0 5px #000;
}
.gallery div a.miniatura_principal:link, .gallery div a.miniatura_principal:visited {
    width: 116px;
}
.gallery div a.miniatura_principal:hover {
    background-color: #e68e30;
}
.gallery div a.miniatura_eliminar:link, .gallery div a.miniatura_eliminar:visited {
    text-indent: -9999px;
    width: 24px;
    margin-left: 10px;
    background: url('https://imgs.coches.com/secure/borraFoto.png') no-repeat 1px 0px #666;
}
.gallery div a.miniatura_eliminar:hover {
    background-color: #bc1519;
}
.gallery div span.active {
    display: none;
}
.gallery div.principal {
    background-color: #e68e30;
}
.gallery div.principal a.miniatura_principal {
    display: none;
}
.gallery div.principal span.active {
    line-height: 21px;
    font-size: 11px;
    color: #fff;
    display: inline-block;
    width: 116px;
}
.ajax-file-upload-statusbar {
    margin: 5px; padding: 5px; border-radius: 5px; border: 1px dashed #ddd; width: 400px; -webkit-border-radius: 5px; -moz-border-radius: 5px; background-color: #efefef; box-shadow: 0 0 6px #666; -moz-box-shadow: 0 0 6px #666; -webkit-box-shadow: 0 0 6px #666;
}
.ajax-file-upload-filename {
    margin: 0px 5px 5px 10px; width: 100%; height: auto; color: rgb(128, 117, 121);
}
.ajax-file-upload-progress {
    margin: 0px 10px 5px; padding: 1px; border-radius: 3px; border: 1px solid rgb(221, 221, 221); width: 250px; display: inline-block; position: relative;
}
.ajax-file-upload-bar {
    border-radius: 3px; width: 0px; height: 20px; background-color: rgb(11, 161, 181);
}
.ajax-file-upload-percent {
    left: 48%; top: 3px; display: inline-block; position: absolute;
}
.ajax-file-upload-red {
    padding: 4px 15px; border-radius: 4px; color: rgb(255, 255, 255); font-family: arial; font-size: 13px; font-weight: normal; text-decoration: none; vertical-align: top; display: inline-block; cursor: pointer; box-shadow: inset 0px 39px 0px -24px #e67a73; text-shadow: 0px 1px 0px #b23e35; background-color: rgb(228, 104, 93); -webkit-border-radius: 4px; -moz-border-radius: 4px; -webkit-box-shadow: inset 0 39px 0 -24px #e67a73; -moz-box-shadow: inset 0 39px 0 -24px #e67a73;
}
.ajax-file-upload-green {
    margin: 0px; padding: 4px 15px; border-radius: 4px; color: rgb(255, 255, 255); font-family: arial; font-size: 13px; font-weight: normal; text-decoration: none; vertical-align: top; display: inline-block; cursor: pointer; text-shadow: 0px 1px 0px #5b8a3c; background-color: rgb(119, 181, 90); -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.ajax-file-upload {
    background: rgb(47, 138, 185); margin: 0px 10px 10px 0px; padding: 6px 10px 4px; border-radius: 3px; border: 0px currentColor; color: rgb(255, 255, 255); line-height: 20px; font-family: Arial,Helvetica,sans-serif; font-size: 16px; font-weight: bold; text-decoration: none; display: inline-block; cursor: pointer; box-shadow: 0px 2px 0px 0px #13648d; -webkit-border-radius: 3px; -moz-border-radius: 3px; -webkit-box-shadow: 0 2px 0 0 #13648d; -moz-box-shadow: 0 2px 0 0 #13648d;
}
.ajax-file-upload:hover {
    background: rgb(51, 150, 201); box-shadow: 0px 2px 0px 0px #15719f; -webkit-box-shadow: 0 2px 0 0 #15719f; -moz-box-shadow: 0 2px 0 0 #15719f;
}
.ajax-upload-dragdrop {
    padding: 10px; border: 2px dotted rgb(165, 165, 199); width: 400px; text-align: left; color: rgb(218, 220, 227); vertical-align: middle;
}
.ajax-upload-dragdrop span {
    line-height: 25px;
    padding-left: 10px;
}
