// main: ./_myClassiffiedEdit.scss

.miz_edit_preview {
  float: right;
  width: 240px;
  border: 1px solid $gray1;
  border-radius: 10px;
  @extend %shadow-2;

  .oferta {
    margin: 0 10px;

    a {
      display: block;
      color: $gray4;
      text-decoration: none !important;

      img {
        width: 100%;
        height: auto;
        margin-top: 10px;
      }

      strong {
        line-height: 20px;

        &:nth-child(1) {
          display: block;
          line-height: 10px;
          margin: 10px 0;
        }

        span {
          line-height: 16px;

          &:nth-child(1) {
          }
          &:nth-child(2) {
          }
          &:nth-child(3) {
          }
          &:nth-child(4) {
          }
        }
      }
      .precio {
        display: block;
        line-height: 30px;
        font-size: 26px;
      }
      p {
        line-height: 18px;
        color: $gray2;
        word-break: break-all;
      }

      .dato {
        float: left;
        width: 50%;
        text-align: left;
        font-weight: bolder;
      }

    }

    a.disabled {
      pointer-events: none !important;
      cursor: default !important;
    }

  }

}
