// main: ./_myClassiffied.scss
.miz_user_edit_form {
  .container {
    @include borrar_float;
    .miz_edit_form {
      float: left;
      width: 560px;

      //  v1
      form, .form {
        .form-group {
          @include inputsNone;

          .control-label {
            font-size: 16px;
          }

          select, input[type="text"] {
            border: 1px solid $gray1;
            font-size: 16px;
          }
          textarea {
            height: 100px;
          }

          span#ClassifiedForm_color {
            height: 50px;
            display: inline-block;
            margin-left: 10px;

            label {
              display: inline-block;
              width: 18px;
              height: 18px;
              padding-top: 18px;
              text-align: center;
              border: 1px solid #DDD;
              margin-right: 0;
              color: #FFF;
              margin-bottom: 14px;

              &[for="ClassifiedForm_color_0"] {
                background-color: #FFF;
              }
              &[for="ClassifiedForm_color_1"] {
                background-color: #D8D0BE;
              }
              &[for="ClassifiedForm_color_2"] {
                background-color: #FF0;
              }
              &[for="ClassifiedForm_color_3"] {
                background-color: orange;
              }
              &[for="ClassifiedForm_color_4"] {
                background-color: red;
              }
              &[for="ClassifiedForm_color_5"] {
                background-color: brown;
              }
              &[for="ClassifiedForm_color_6"] {
                background-color: #5F070F;
              }
              &[for="ClassifiedForm_color_7"] {
                background-color: #00F;
              }
              &[for="ClassifiedForm_color_8"] {
                background-color: green;
              }
              &[for="ClassifiedForm_color_9"] {
                background-color: gray;
              }
              &[for="ClassifiedForm_color_10"] {
                background-color: #BDC3C7;
              }
              &[for="ClassifiedForm_color_11"] {
                background-color: #000;
              }
            }
            input[type="radio"] {
              //float: left;
              margin-left: -15px;
              margin-right: 7px;
              margin-top: 25px;
            }
          }
        }
        @import "./_uploader.scss";

        .ok_btn {
          display: inline-block;
          background-color: $green;
          line-height: 40px;
          color: $white;
          border: 0;
          width: 150px;
          margin-left: 40px;
          margin-top: 55px;
          margin-bottom: 70px;
          font-size: 16px;
          @extend %shadow-2;
          @extend %ease-in-out-transition;

          &:hover {
            @extend %shadow-3;
          }
        }
        .cancel_btn {
          display: inline-block;
          color: $blue;
          margin-left: 200px;
          margin-top: 60px;
          float: left;
          font-size: 16px;
        }
      }

      //v2
      form, .form {
        .form-group {
          // background-color: lime;
          margin-left: 150px;
          position: relative;
          padding: 0;
          line-height: 10px;

          .control-label {
            margin: 0;
            font-size: 16px;
            // background-color: red;
            color: $gray3 !important;
            padding-right: 10px;
            float: left;
            position: absolute;
            left: -160px;
            width: 160px;
            text-align: right;
            line-height: 40px;
          }

          select {
            margin: 0;
            padding: 0 12px;
          }

          #ClassifiedForm_guarantee {
            line-height: 40px;
            display: inline-block;
            // background-color: aqua;

            label {
              display: inline-block;
              width: 40px;
              font-weight: normal;
              text-align: right;
              padding-right: 5px;
            }

            input {
              margin-right: 10px;
            }
          }

          a.ipopover {
            cursor: pointer;
            text-decoration: none !important;
            color: $blue;
          }

          .popover {
            width: 500px;
            left: 255px !important;
            background-color: lighten($blue, 30%);
            border: 0;
            a {
              color: $blue;
            }
            &.right {
              .arrow {
                &:after {
                  border-right-color: lighten($blue, 30%);
                  background-color: $transparent;
                }
              }
            }

            .arrow {
              border-right-color: #CDE0F7;
            }
          }

          &.has-error {
            select, textarea, input[type="text"], input[type="number"], input[type="email"], input[type="password"] {
              border: 1px solid red;
            }
            .control-label {
              color: $gray3;
            }
            .help-block {
              background-color: $red;
              color: $white;
              padding: 0 5px;
              line-height: 20px;
              margin: -3px 0 0 0;
              z-index: 5;
              position: relative;
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
            }
          }
        }
        .photoUploader {
          .upGallery {
            // border: 1px dashed #ddd;
            .gallery {
              border: 1px dashed $gray1;
            }
          }
        }
      }

    }
    @import "./_cardPreview.scss";
  }
}
