//main:../mizona.scss

//estatus del anuncio
.classified-pending {
  background-color: $blue;
  color: $white;
  line-height: 34px;
  display: inline-block;
  padding: 0 10px;
  border-radius: 5px;
  position: absolute;
  margin-left: 10px;
}

.actived {
  @extend .classified-pending;
  background-color: $green;
}

.user-pending {
  @extend .classified-pending;
  background-color: $yellow;
}

.deactivate, .expired {
  @extend .classified-pending;
  background-color: $gray2;
}

.miz_my_classiffied {
  .container {
    @include borrar_float;
    .miz_mc_name_photo {
      position: relative;
      width: 455px;
      float: left;

      strong {
        font-size: 20px;
      }
      img {
        display: block;
        width: 100%;
        height: 366px;
        border: 1px solid $gray1;
      }

      .extended-warranty {
        background: white;
        position: absolute;
        display: table;
        bottom: 0;
        border-right: 10px solid white;
        border-left: 10px solid white;

        svg {
          height: 16px;
          width: 16px;
          vertical-align: middle;
          margin-right: 4px;
        }
      }
    }
    .miz_mc_data {
      float: left;
      width: 480px;
      margin-left: 10px;
      @include borrar_float;
      margin-top: 40px;

      .mc_tecnical_data {
        margin-right: 20px;
        width: 200px;
        float: left;

        @include borrar_float;

        label {
          float: left;
          width: 50%;
          margin-bottom: 20px;

          &:nth-child(1) {
            width: 100%;
            text-align: center;
            margin-bottom: 30px;

            strong {
              color: $green;
              font-size: 24px;
            }
          }
          &:nth-child(6) {
            width: 100%;
            margin-bottom: 15px;
          }

          span, strong {
            display: block;
            font-size: 14px;
            line-height: 20px;
            font-weight: normal;
          }
          strong {
            font-size: 18px;
            font-weight: bolder;
          }
        }

      }

      .mc_description {
        width: 260px;
        height: 230px;
        margin-bottom: 20px;
        line-height: 20px;
        overflow: auto;
        p {
          height: 200px;
          overflow: auto;
        }
      }
    }

    .mc_actions_panel {
      margin-bottom: 10px;
      a {
        color: $blue;
        line-height: 20px;
        display: block;
        margin-top: 10px;
      }
      .miz_btn, span {
        display: inline-block;
        line-height: 40px;
        border: 2px solid $gray2;
        border-radius: 5px;
        min-width: 80px;
        text-align: center;
        background-color: $white;
        font-weight: bolder;
        color: $gray2;
        margin-right: 20px;
        padding: 0 10px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
        @extend %ease-in-out-transition;

        &:hover {
          @extend %shadow-3;
          text-decoration: none;
        }

        &:nth-child(2) {
          background-color: $green;
          border: 0;
          color: $white;
        }

      }
    }
    .mc_status {
      @include borrar_float;
      margin-top: 20px;
      strong {
        float: left;
        border-bottom: 4px solid $gray2;
        line-height: 14px;
      }

      label {
        display: inline-block;
        line-height: 20px;
        width: 120px;
        text-align: center;
        font-size: 20px;
        svg {
          margin-right: 5px;
        }
        span {
          display: block;
          font-weight: normal;
          font-size: 14px;
          color: $gray2;
        }
        &:nth-child(3) {
          svg {
            position: relative;
            margin-bottom: -4px;
            g {
              g {
                fill: $gray3;
              }
            }

          }
        }
      }
    }
    //ESTADOS DEL ANUNCIO
    .mc_pending_status {
      clear: both;
      border: 2px solid $blue;
      border-radius: 5px;
      padding: 10px;
      font-size: 14px;

      strong {
        font-size: 16px;
        display: block;
        line-height: 20px;
        color: $gray3;
        text-align: center;
      }

      p {
        line-height: 20px;
        a {
          color: $blue;
        }
      }
    }
    .mc_pending_user {
      border: 2px solid $yellow;
      border-radius: 5px;
      padding: 10px;
      font-size: 14px;

      strong {
        font-size: 16px;
        display: block;
        line-height: 20px;
        color: $gray3;
        text-align: center;
      }

      p {
        line-height: 20px;
        a {
          color: $blue;
        }
      }
    }
    .mc_deactivate, .mc_expired {
      border: 2px solid $gray2;
      border-radius: 5px;
      padding: 10px;
      font-size: 14px;
      height: 160px;
      width: 426px;

      strong {
        font-size: 16px;
        display: block;
        line-height: 20px;
        color: $gray3;
        text-align: center;

        span {
          font-size: 12px;
          font-weight: normal;
        }
      }
      p {
        line-height: 25px;
        margin-top: 15px;
        span {
          font-weight: bolder;
        }
        a {
          color: $blue;
        }
      }
      .buttons_bar {
        margin-top: 10px;
        a {
          display: inline-block;
          line-height: 40px;
          text-align: center;
          min-width: 20px;
          font-size: 14px;

          &.delete {
            text-align: center;
            color: $gray3;
            font-weight: bolder;
            margin-left: 27px;
          }
          &.activate {
            background-color: $green;
            color: $white;
            padding: 0 10px;
            border-radius: 5px;
            float: right;
            width: 87px;
            margin-right: 27px;
            @extend %shadow-2;
            @extend %ease-in-out-transition;
            &:hover {
              @extend %shadow-3;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

@import "./_myClassiffiedEdit.scss";
