// main:./_myClassiffiedEdit.scss
.photoUploader {
  overflow: hidden;
  @include borrar_float;

  label {
    float: left;
    width: 125px;
    text-align: right;

    &.btn-primary {
      float: none;
    }
  }

  .upGallery {
    width: 415px;
    float: right;
    //overflow: hidden;
    position: relative;

    .up1 {
      width: 100%;
      padding: 10px;
      .ajax-upload-dragdrop {
        width: 100%;

        span {
          b {
            color: $gray3;
            font-weight: normal;
          }
        }
      }

      .ajax-file-upload-statusbar {
        width: 100%;
        margin: 20px 0 0 0;

        .ajax-file-upload-filename {
        }
        .ajax-file-upload-progress {
          width: 95%;
          .ajax-file-upload-bar {
            width: 80%;
          }
        }
        .ajax-file-upload-red {
          display: none;
        }
        .ajax-file-upload-green {
          display: none;
        }
      }
    }
    .gallery {
      clear: both;
      margin-top: 30px;
      // height: auto !important;
      min-height: 180px;
      border-radius: 10px;

      @include borrar_float;

      div {
        margin: 10px 20px;
        text-align: left;

        img {
          width: 100%;
        }
        .active {
          margin-top: -10px;
        }
        a {
          text-align: center;
          overflow: hidden;
          min-width: 10px;
          font-size: 10px;
          text-shadow: none;
          padding: 0 5px;
          margin: 0 0 0 2px;
        }

        &.principal {
          span {
            float: left;
            margin: 0;
          }
        }
      }
    }

  }
}
