// main:../mizona.scss
.miz_position_form {
  .container {

    .miz_info_saldo {
      .current {
        display: inline-block;
        line-height: 50px;
        border: 1px solid $green;
        border-radius: 5px;
        width: 235px;
        text-align: center;
        font-size: 16px;
        color: $green;

        * {
          font-size: 16px;
          color: $green;
        }

        &.off {
          color: $red;
          border-color: $red;
          * {
            font-size: 16px;
            color: $red;
          }
        }
      }
      .charge {
        color: $blue;
        font-size: 14px;
        margin-left: 20px;
        line-height: 50px;
        display: inline-block;
        text-align: center;
        font-weight: bolder;
        text-decoration: none;

      }
    }

    .info_freq_msg {
      display: block;
      margin: 20px 0 30px 0;
      font-size: 16px;
      line-height: 20px;
      color: $gray3;

      * {
        font-size: 16px;
        line-height: 20px;
        color: $gray3;
      }
    }

    .form, form {
      padding-left: 110px;
      .field {
        font-size: 16px;
        margin-bottom: 10px;
        ul {
          margin: 0;
          list-style: none;
          li {
            list-style: none;
            display: block;
            line-height: 40px;
            font-size: 16px;

            label {
              font-weight: normal;
              font-size: 16px;
              line-height: 40px;
              display: inline-block;
              color: $gray3;
              margin: 0;

              input[type="radio"], input[type="checkbox"] {
                margin-right: 10px;
                float: left;
                margin-top: 10px;
              }
            }
          }
        }

        .error_msg {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          background-color: $red;
          color: $white;
          font-size: 14px;
          padding: 0 5px;
          line-height: 20px;
          width: auto;

          &.multiple {
            border-radius: 5px;
          }

          &.fit {
            display: inline-block;
          }
        }
      }

      .cta-form {
        display: inline-block;
        background-color: $green;
        width: 150px;
        line-height: 40px;
        border: 0;
        color: $white;
        font-weight: bolder;
        border-radius: 5px;
        font-size: 14px;
        margin-left: 80px;
        @extend %shadow-1;
        @extend %ease-in-out-transition;

        &:hover {
          @extend %shadow-3;
        }
      }

    }

  }
}

.miz_flash_msg {
  max-width: 960px;
  margin: 0 auto 20px auto;
  border-radius: 5px;
  padding: 10px;

  .close {
    display: block;
    float: right;
    width: 24px;
    height: 24px;
    margin-top: -1px;
    background: url($URL_PHOTO + 'close_msg.svg') no-repeat center center $transparent;
  }
  p {
    margin: 0;
    font-size: 14px;
    * {
      font-size: 14px;
    }
  }

  &.error {
    background-color: lighten($red, 30%);
    border: 1px solid $red;
  }
  &.success {
    background-color: lighten($green, 30%);
    border: 1px solid $green;
  }
}

.miz_info_msg {
  position: relative;
  max-width: 1200px;
  margin: 0 auto 20px auto;
  background-color: rgb(255, 251, 241);
  border: 1px solid $yellow;
  border-radius: 5px;
  padding: 16px;

  p {
    margin: 0;
    text-align: left;
    font-size: 14px;
    * {
      font-size: 14px;
    }

    a {
      color: $blue;
    }
  }

  &:before {
    content: 'Importante';
    position: absolute;
    top: -12px;
    border: 1px solid rgb(255, 165, 0);
    background-color: rgb(255, 165, 0);
    color: $white;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 5px;
  }
}

.miz_balance_charge {
  .container {
    .remaining-salary-time {
      display: block;
      padding: 14px 25px;
      margin-bottom: 25px;
      font-size: 16px;
      border-radius: 5px;
      line-height: 20px;
      background: #FFFAF0;
      border: 1px solid #FEE7AF;
    }

    .miz_info_saldo {
      .current {
        display: inline-block;
        line-height: 50px;
        border: 1px solid $green;
        border-radius: 5px;
        min-width: 235px;
        text-align: center;
        font-size: 16px;
        color: $green;
        padding: 0 20px;

        * {
          font-size: 16px;
          color: $green;
        }

        &.off {
          color: $red;
          border-color: $red;
          * {
            font-size: 16px;
            color: $red;
          }
        }
      }
      .previus {
        @extend .current;
        display: inline-block;
        line-height: 40px;
        margin-top: 5px;
        border: 1px solid $gray2;
        border-radius: 5px;
        min-width: 235px;
        text-align: center;
        font-size: 16px;
        color: $gray2;
        padding: 0 20px;
        position: relative;
        margin-right: 6px;

        * {
          font-size: 16px;
          color: $gray2;
        }

        &:after {
          position: absolute;
          content: '';
          display: block;
          width: 10px;
          height: 10px;
          background-color: $white;
          border-bottom: 1px solid $gray2;
          border-right: 1px solid $gray2;
          transform: rotate(-45deg);
          right: -6px;
          top: 15px;
        }

      }
    }

    .info_freq_msg {
      display: block;
      margin: 20px 0 30px 0;
      font-size: 16px;
      line-height: 20px;
      color: $gray3;

      * {
        font-size: 16px;
        line-height: 20px;
        color: $gray3;
      }
    }

    .form, form {
      padding-left: 110px;
      .field {
        // border:1px solid red;
        font-size: 16px;
        margin-bottom: 20px;
        @include borrar_float;

        &.error label {
          color: rgb(169, 68, 66);
        }

        label {
          float: left;
          display: block;
          width: 200px;
          text-align: right;
          padding-right: 10px;
          height: 100%;
        }
        .input-data {
          float: left;
          ul {
            margin: 0;
            list-style: none;
            li {
              list-style: none;
              display: block;
              line-height: 40px;
              font-size: 16px;

              label {
                float: none;
                font-weight: normal;
                font-size: 16px;
                line-height: 40px;
                display: inline-block;
                color: $gray3;
                margin: 0;
                text-align: left;

                input[type="radio"], input[type="checkbox"] {
                  margin-right: 10px;
                  float: left;
                  margin-top: 10px;
                }
              }
            }
          }

          input[type="text"], input[type="tel"], input[type="number"], input[type="password"] {
            width: 100%;

            &.euro {
              background: url($URL_PHOTO + 'euro.svg') no-repeat 95% center $transparent;
              padding-right: 16px;
            }
          }

          input[type="number"] {
            padding: 4px 12px;
            border-radius: 5px;
            border: 1px solid #DDD;
            font-size: 16px;
            line-height: 30px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

            &:focus {
              border-color: rgb(102, 175, 233);
              outline: 0;
              -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
            }
          }

          .error_msg {
            display: none;
          }
        }

        &.error {
          .input-data {
            input[type="text"], input[type="number"], input[type="tel"], input[type="password"] {
              border: 1px solid $red;
            }
            .error_msg {
              display: block;
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
              background-color: $red;
              color: $white;
              font-size: 14px;
              padding: 0 10px;
              line-height: 20px;
              width: auto;

              &.multiple {
                border-radius: 5px;
              }

              &.fit {
                display: inline-block;
              }
            }
          }
        }

      }
      .cta-form {
        display: inline-block;
        background-color: $green;
        width: 150px;
        line-height: 40px;
        border: 0;
        color: $white;
        font-weight: bolder;
        border-radius: 5px;
        font-size: 14px;
        margin-left: 200px;
        @extend %shadow-1;
        @extend %ease-in-out-transition;

        &:hover {
          @extend %shadow-3;
        }
      }

      .banco {
        @extend .field;
        float: left;
        margin-right: 10px;

        label {
          width: auto;
          float: none;
          text-align: center;
        }
        .input-data {
          input {
            text-align: center;
          }

          .error_msg {
            padding: 0 !important;
            text-align: center;
          }
        }

        &.data_1 {
          width: 100px;
        }
        &.data_2 {
          width: 100px;
        }
        &.data_3 {
          width: 100px;
        }
        &.data_4 {
          width: 70px;
        }
        &.data_5 {
          width: 140px;
        }

      }

    }

    .miz_need_help {
      display: inline-block;
      // border:1px solid red;
      padding-left: 40px;
      color: $blue;
      line-height: 30px;
      font-size: 14px;
      background: url($URL_PHOTO + 'need_help.svg') no-repeat left center $transparent;
    }

    .confirmation-button {
      display: inline-block;
      background-color: #0AB25A;
      width: 150px;
      line-height: 40px;
      border: 0;
      color: #FFF;
      font-weight: bolder;
      border-radius: 5px;
      font-size: 14px;
      margin-left: 200px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -ms-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      text-align: center;

      &:hover, &:focus {
        box-shadow: 0 19px 38px 0 rgba(0, 0, 0, 0.3);
        text-decoration: none;
      }
    }
  }

  &.transference {
    .container form div.field {
      margin-bottom: 0;
      line-height: 30px;
    }
  }
}

//modales con twig
.miz_modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
  @extend %ease-in-out-transition;

  .modal_box {
    max-width: 500px;
    min-height: 100px;
    padding: 10px;
    border-radius: 5px;
    background-color: $white;
    @extend %shadow-1;
    margin: 100px auto 0 auto;

    // modal de necesito ayuda
    .miz_modal_help {
      @include borrar_float;
      strong {
        font-weight: bolder;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 20px;
        display: block;
      }
      textarea {
        width: 100%;
        min-height: 130px;
        margin-bottom: 10px;
        padding: 5px;
      }

      button {
        line-height: 40px;
        width: 100px;
        text-align: center;
        border: 0;

        &.cancel {
          background-color: $transparent;
          float: left;
          font-size: 14px;
        }
        &.cta {
          float: right;
          font-size: 16px;
          color: $white;
          background-color: $green;
          @extend %shadow-1;
          @extend %ease-in-out-transition;

          &:hover {
            @extend %shadow-3;
          }
        }
      }
    }

    .miz_modal_confirm {
      text-align: center;

      span {
        display: block;
        font-size: 18px;
        text-align: center;
        line-height: 30px;
        strong {
          font-size: 18px;
        }
        margin-bottom: 20px;
      }

      button {
        display: inline-block;
        width: 100px;
        text-align: center;
        line-height: 40px;
        border: 0;
        color: $blue;

        &:nth-child(2) {
          background-color: $blue;
          color: $white;
        }
      }

    }

  }
}

.miz_balance_confirmation,
.miz_email_recover_pass_confirmation, .miz_email_recover_email_confirmation,
.miz-recover-phone-confirmation {
  margin-top: 60px;
  .container {
    min-height: 700px;
    .miz_ok_msg {
      text-align: center;

      svg {
        display: block;
        margin: 10px auto 30px auto;
        height: 130px;
      }

      a {
        color: #333;
        padding: 0 18px;
        display: inline-block;
        background-color: #D9D8D9;
        text-align: center;
        border-radius: 5px;
        font-size: 14px;
        font-weight: bolder;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;

        &:hover {
          box-shadow: 0 19px 38px 0 rgba(0, 0, 0, 0.3);
          text-decoration: none;
        }

        &:focus {
          text-decoration: none;
        }
      }

      strong {
        font-size: 20px;
        display: block;
        margin-bottom: 30px;
      }

      p {
        font-size: 16px;
        margin: 0 0 40px 0;
      }

      .miz_current_balanace {
        display: block;
        line-height: 50px;
        border: 1px solid $green;
        border-radius: 5px;
        min-width: 235px;
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
        font-size: 16px;
        color: $green;
        padding: 0 20px;
        margin-bottom: 30px;

        span {
          font-weight: bolder;
        }

        * {
          font-size: 16px;
          color: $green;
        }
      }
    }

    #validation-type-call {
      svg {
        margin-bottom: 28px;
      }
    }
  }
}

.miz_email_recover_email_confirmation .container, .miz-recover-phone-confirmation {
  .miz_ok_msg {
    p {
      margin: 0;
      font-size: 14px;
      line-height: 20px;
    }

    svg {
      height: 100px;
    }
  }
}

.miz-recover-phone-confirmation .container {
  width: 900px;

  .title-center {
    font-size: 16px;
  }

  .miz_ok_msg {
    display: inline-block;
    margin-bottom: 40px;
    width: 40%;

    svg {
      width: 32px;
      height: auto;
      margin-bottom: 15px;
    }
  }

  a.cta-form {
    display: inline-block;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    margin-top: 15px;
    border: 0;
    width: fit-content;
    width: -moz-fit-content;
    background-color: $green2;
    border-radius: 5px;
    font-size: 16px;
    line-height: 40px;
    font-weight: normal;
    color: $white;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 19px 38px 0 rgba(0, 0, 0, 0.3);
      text-decoration: none;
    }
  }
}

#telephone-changed-ok , #email-changed-ok{
  margin-top: 130px;

  .miz_ok_msg strong {
    font-size: 18px;
  }

  a {
    font-size: 16px;
  }

  svg {
    width: 60px;
    height: 60px;
  }
}

.title-center {
  text-align: center;
  margin-bottom: 40px;
}

.button--back {
  display: block;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  color: $blue2;

  &:hover {
    text-decoration: none;
    color: $blue2;
  }
}

#sms-svg {
  width: 45px;
  height: 45px;
  path {
    fill: $gray3;
  }
}