.flash-messages {
  margin: 40px auto 10px auto;
  padding: 0;

  .flash-message {
    @extend %flash-message;
    padding: 10px;
    line-height: 1.2;

    &__close {
      float: right;
    }
  }
}
