form, .form {
  .form__groupfield {
    position: relative;
    margin-bottom: 20px;
  }

  label, .label {
    display: block;
    margin-bottom: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    text-align: left;
    color: $gray;
  }

  input, select {
    @extend %input;
    padding: 10px;
  }

  input[type="text"], input[type="email"], input[type="password"], select {
    width: 100%;
    height: 40px;
  }

  input[type="radio"],
  input[type="checkbox"] {
    box-shadow: none;
    width: auto;
  }

  input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: -9999px;
    visibility: hidden;
  }

  input[type="checkbox"] + label {
    margin-left: 25px;
    font-weight: normal;

    &:before, &:after {
      content: '';
      position: absolute;
      top: 50%;
    }

    &:before {
      left: 0;
      width: 12px;
      height: 12px;
      margin: -6px 0 0;
      border: 1px solid $light-gray;
    }

    &:after {
      left: 3px;
      width: 6px;
      height: 6px;
      margin: -3px 0 0;
      opacity: 0;
      background: $blue;
    }
  }

  input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(#{$path-svg}dropdown-select.svg) no-repeat right 10px center;
  }

  .eye-icon-pass {
    position: absolute;
    right: 10px;
    top: 40px;
    display: block;
    color: $light-gray;
    cursor: pointer;

    &:hover {
      text-decoration: none;
      color: $light-gray;
    }
  }

  .form__actions {
    margin: 30px auto 0 auto;
    width: -moz-fit-content;
    width: fit-content;

    .button {
      display: inline-block;
      min-width: 150px;
    }
  }

  .link--forget-password {
    float: right;
    font-size: 16px;
    line-height: 30px;
  }

  .remember-me-container {
    * {
      display: inline-block;
      width: fit-content;
    }

    #remember-me {
      box-shadow: none;
    }
  }

  .error input {
    @extend %error-input-style;
  }

  .error_msg {
    padding: 0 6px;
    @extend %error-info-style;
  }

  span.value {
    display: block;
    font-size: 16px;
    line-height: 30px;
  }
}