.modal .modal-dialog {
  width: 500px;
}

#password-changer .modal-dialog {
  width: 290px;
}

/** RESPONSIVE: MOBILE **/
@media (min-width: $ultraSmallScreen) and (max-width: ($tabletSmallScreen - 1)) {
  .modal, #password-changer {
    .modal-dialog {
      width: auto;
    }
  }
}

.modal-header h4 {
  font-size: 20px;
}

/** RESPONSIVE: MOBILE **/
@media (min-width: $ultraSmallScreen) and (max-width: ($tabletSmallScreen - 1)) {
  .modal-header h4 {
    font-size: 18px;
  }
}