.f-r {
  float: right !important;
}

.f-l {
  float: left !important;
}

.f-n {
  float: none !important;
}

.w-full {
  width: 100% !important;
}

.m-0 {
  margin: 0 !important;
}

.bold {
  font-weight: bold !important;
}

.opacity-50 {
  opacity: .5 !important;
}

.display-block {
  display: block !important;
}

.display-inline-block {
  display: inline-block !important;
}

@for $i from 1 through $default-space-steps {
  .m-#{$i}0 {
    margin: #{$i}0px !important;
  }

  .mt-#{$i}0 {
    margin-top: #{$i}0px !important;
  }

  .mr-#{$i}0 {
    margin-right: #{$i}0px !important;
  }

  .mb-#{$i}0 {
    margin-bottom: #{$i}0px !important;
  }

  .ml-#{$i}0 {
    margin-left: #{$i}0px !important;
  }

  .w-#{$i}0 {
    width: #{$i}0px !important;
  }

  .pr-#{$i}0 {
    padding-right: #{$i}0px !important;
  }

  .fs-#{$i} {
    font-size: #{$i}px !important;
  }

  .top-#{$i} {
    top: #{$i}px !important;
  }
}

.horizontal-center {
  display: block;
  margin: 0 auto;
}

.clearfix {
  clear: both;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

button, .button {
  @include transition(.2s);

  display: block;
  border: 0;
  border-radius: 3px;
  min-width: 80px;
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;

  &:hover {
    box-shadow: 0 10px 38px 0 rgba(0, 0, 0, 0.3);
    text-decoration: none;
  }

  &:focus {
    outline-style: none;
  }
}

.separator {
  @extend %separator;
  display: block;
  width: 100%;
}