%float-center {
  display: table;
  height: 100%;

  * {
    display: table-cell;
    vertical-align: middle;
  }
}

%clear-float {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}