/*------------------------------------*\
                 COLORS
\*------------------------------------*/
$red: rgb(255, 41, 49);
$green: rgb(0, 167, 79);
$blue: rgb(0, 139, 224);
$white: rgb(255, 255, 255);
$light-gray: rgb(155, 155, 155);
$gray: rgb(74, 74, 74);
$black: rgb(0, 0, 0);
$black-translucent: rgba(0, 0, 0, .5);
$green-opacity: rgba(0, 178, 90, 0.25);
$red-opactity:rgba(215, 81, 97, 0.25);
$orange: rgb(255, 104, 16);
$yellow: rgb(244, 200, 0);

/*------------------------------------*\
              CONFIGURATIONS
\*------------------------------------*/
$default-space-steps: 90;
$default-border-radius: 3px;
$default-button-border-radius: 5px;

/*------------------------------------*\
              PATHS
\*------------------------------------*/

$path-svg: '../../imgs/svg/';

/*------------------------------------*\
              SIZES
\*------------------------------------*/

$ultraSmallScreen: 320px;
$smallScreen: 460px;
$tabletSmallScreen: 600px;
$tabletScreen: 768px;
$tabletBigScreen: 1024px;