//main: _dgt.scss
#accordion, .panel-group {
  .panel, .panel-default {
    background-color: $transparent;
    border: 0;
    box-shadow: none;
    .panel-heading {
      border: none;
      background-color: transparent;
      h4 {
        font-size: 16px;
        a {
          &:before {
            content: url($URL_PHOTO +'toggle_off.svg');
            display: inline-block;
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            margin-right: 10px;
            float: left;
          }
          &.collapsed {
            &:before {
              content: url($URL_PHOTO +'toggle_on.svg');
              display: inline-block;
              width: 20px;
              height: 20px;
              text-align: center;
              line-height: 20px;
              margin-right: 10px;
              float: left;
            }
          }
        }
      }
    }
    .panel-collapse {
    }
    .panel-body {
      border: 0;
      ul {
        list-style: none;
        margin-left: 60px;

        &.miz_values_panel {
          li {
            display: inline-block;
            width: 33%;

            &:before {
              content: url($URL_PHOTO + 'thick_small.svg');
              display: inline-block;
              width: 16px;
              height: 16px;
              margin-right: 10px;
            }
          }
        }
      }

    }
  }
}
