//main: ../mizona.scss
.miz_dgt {
  .container {
    .miz_dgt_main {
      text-align: center;
      strong {
        font-size: 20px;
        line-height: 40px;
      }

      p {
        line-height: 20px;
        font-size: 18px;
      }

      .btn-CTA {
        background-color: $blue;
        line-height: 30px;
        height: 40px;
        color: $white;
        font-size: 14px;
        margin: 10px auto;
      }
    }
  }
}

@import "_acordion.scss";
@import "_informes.scss";
