//main: _dgt.scss

$borde: #DCDCDC;
$fondo: #F5F5F5;

@mixin none {
  padding: 0;
  margin: 0;
}

.miz_boton_informes {
  float: right;
  display: inline-block;
  color: $blue;
  line-height: 40px;
  height: 40px;
  padding: 0 10px;
  font-weight: bolder;
  font-size: 16px;

  &:before {
    content: url($URL_PHOTO +'informes_add.svg');
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    float: left;
  }

}

.advanced-search {

  @include borrar_float;

  width: 300px;
  border: 0;
  .panel {
    border: 0;
    background-color: $transparent;
    .panel-heading {
      display: none;
    }
    .panel-body {
      padding: 0;
      background-color: $transparent;
      border: 0;

      form {
        @include none;
        .row-fluid {
          @include none;

          .col-md-12 {
            @include none;
            position: relative;
            // &:after{
            // 	content: url($URL_PHOTO +'search.svg');
            // 	display: inline-block;
            // 	width: 40px;
            // 	height: 40px;
            // 	text-align: center;
            // 	position: absolute;
            // 	right:1px;
            // 	top: 1px;
            // }

            input {
              width: 100%;
              border: 1px solid $gray1;
              border-radius: 5px;
              padding: 0 40px 0 10px;
              height: 40px;
            }
            .col_md-6 {
              display: none;
              @include none;
            }

          }
        }
        .col-md-12 {
          .col-md-6 {
            .form-actions {
              .btn-group {
                position: absolute;
                margin-top: -35px;
                margin-left: 229px;

                button {
                  border: 0;
                  box-shadow: none;

                  &:hover {
                    background-color: $white;
                    opacity: 0.75;
                  }
                }
              }
            }
            //display: none;
          }
        }
      }

    }
  }

}

//GRID

$f1: 200px;
$f2: 100px;
$f3: 170px;
$f4: 200px;
$f5: 210px;
$f6: 320px;

.dgt {
  .grid-view {
    .table {
      border-collapse: separate;
      border-spacing: 0 10px;
      thead {
        tr {
          th {
            border: none;
            text-align: center;
            a {
              color: #333;
              text-decoration: none;
            }

            &:nth-of-type(1) {
              width: $f1;
            }
            &:nth-of-type(2) {
              width: $f2;
            }
            &:nth-of-type(3) {
              width: $f3;
            }
            &:nth-of-type(4) {
              width: $f4;
            }
            &:nth-of-type(5) {
              width: $f5;
            }
            &:nth-of-type(6) {
              width: $f6;
            }
          }
        }
      }
      tbody {
        tr {
          background-color: #F5F5F5;
          margin-bottom: 20px;

          td {
            text-align: left;
            padding: 5px 0 5px 70px;
            border-width: 1px 0 1px 0;
            border-style: solid;
            border-color: rgb(221, 221, 221);
            background-color: rgb(245, 245, 245);
            color: #0EB859;
            line-height: 50px;
            &:nth-of-type(1) {
              width: $f1;
              border-left: 1px solid rgb(221, 221, 221);
            }
            &:nth-of-type(2) {
              width: $f2;
            }
            &:nth-of-type(3) {
              width: $f3;
            }
            &:nth-of-type(4) {
              width: $f4;
            }
            &:nth-of-type(5) {
              width: $f5;
              overflow: hidden;
              padding-left: 0;
              border-right: 1px solid rgb(221, 221, 221);

              a {
                float: left;
                display: inline-block;
                width: 40px;
                height: 40px;
                overflow: hidden;
                text-align: center;
                line-height: 40px;
                text-decoration: none;
                margin: 5px 30px 0 0;

                &.pdf {
                  &:after {
                    content: 'PDF ';
                    font-size: 10px;
                    font-weight: bolder;
                    color: #333;
                  }
                }
                &.ver {
                  line-height: 40px;
                  width: 110px;
                  height: 40px;
                  background-color: rgb(239, 239, 239);
                  border: 0;
                  border-radius: 5px;
                  margin: 5px auto;
                  color: #333;
                  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.19);
                  font-size: 12px;
                  font-weight: bold;
                  -webkit-transition: all .2s ease-in-out;
                  -moz-transition: all .2s ease-in-out;
                  -ms-transition: all .2s ease-in-out;
                  -o-transition: all .2s ease-in-out;
                  transition: all .2s ease-in-out;

                  &:hover {
                    box-shadow: 0 19px 38px 0 rgba(0, 0, 0, 0.3);
                  }
                }
              }
            }
          }

          &.pending {
            td {
              color: #FF3851;
            }
          }
          &.processing {
            td {
              color: #F67B29;
            }
          }
          &.completed {
            td {
              color: #666;
            }
          }
        }
      }
    }
  }

  .tableFloatingHeaderOriginal {
    background-color: $white;
  }
}

.pagination {
  text-align: center;
  &.pull-right {
    float: none !important;
  }
}
