#footer {
  margin-top: 500px;
  margin-bottom: 40px;

  * {
    text-align: center;
  }

  .logo svg {
    width: 200px;
    height: 30px;
  }

  .claim {
    @extend %claim;
    display: block;
    margin-bottom: 20px;
  }

  .social {
    a {
      display: inline-block;
      width: 40px;
      height: 40px;

      svg path {
        fill: $light-gray;
      }
    }
  }

  .links {
    margin: 0 auto;
    border-top: 1px dashed $light-gray;
    max-width: 600px;
    padding-top: 10px;

    a {
      @extend %links-a;
      display: inline-block;
      margin: 0 10px;
    }
  }

  .address {
    @extend %address;
    display: block;
  }
}