#header {
  @include flexbox();
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  box-shadow: 0 2px 4px $black-translucent;
  width: 100%;
  height: 50px;
  background-color: $white;

  .logo {
    @include flex(0 0 auto);
    @include order(1);
    display: inline-block;
    margin-left: 5px;
    height: 50px;
    padding-top: 4px;
    line-height: 50px;

    img {
      vertical-align: unset;
    }

    a {
      display: block;
    }
  }

  .push {
    @extend %push;
    display: inline-block;
    min-width: 20px;
    height: 20px;
    line-height: 20px;

    &--pending-phone {
      background-color: $orange;
    }
  }

  .central-menu {
    @include flex(1 2 75%);
    @include order(2);
    display: inline-block;
    overflow-y: hidden;
    overflow-x: auto;
    margin-left: 3%;
    max-height: 50px;
    white-space: nowrap;

    * {
      vertical-align: middle;
    }

    ul {
      margin-bottom: 0;
      text-align: center;

      li {
        display: inline-block;
        margin: 0 50px;
        text-align: center;

        a {
          display: inline-block;
          height: 50px;
          font-size: 16px;
          font-weight: normal;
          line-height: 50px;
          color: $gray;

          &:hover, &:focus {
            text-decoration: none;
          }
        }

        &:first-child {
          margin-left: 0;
        }
      }
    }

    .push {
      margin-left: 10px;
    }
  }

  .header-menu {
    @include flex(0 1 auto);
    @include order(3);
    display: inline-block;
    height: 50px;
    white-space: nowrap;

    .push-icon {
      position: relative;
      display: inline-block;
      margin-left: 22px;

      a {
        display: block;
        height: 50px;
        line-height: 50px;
        vertical-align: middle;
        text-decoration: none;
      }

      svg {
        vertical-align: middle;

        path {
          fill: $gray;
        }
      }

      .push {
        position: absolute;
        top: 8px;
        left: 17px;
      }

      &--pending-phone {
        .push {
          background-color: $orange;
        }
      }

      &--saved-search {
        .push {
          top: 7px;
          left: 15px;
        }
      }
    }
  }

  .logged-menu {
    position: relative;
    margin: 0 0 0 22px;
    padding-right: 15px;

    a.dropdown-toggle {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      height: 50px;
      line-height: 50px;
      vertical-align: middle;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
    .username {
      margin-left: 5px;
      vertical-align: middle;
      font-size: 16px;
      font-weight: normal;
    }

    svg {
      vertical-align: middle;
    }

    &.open {
      .caret {
        transform: rotate(180deg);
      }
    }
  }

  .logged-menu__items {
    top: 48px;
    margin: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
    border-radius: 0;
    width: 300px;
    min-width: 300px;
    padding: 20px 10px 15px 10px;
    background-color: $white;
    list-style: none;

    .upload-ad {
      display: block;
      margin: 5px auto 30px auto;
      font-size: 16px;
      text-align: center;
    }

    li {
      margin-bottom: 20px;

      a {
        display: inline-block;
        padding: 0 10px 0 10px;
        line-height: 1.2;
        font-size: 16px;
        color: $gray;

        &:hover, &:focus {
          background-color: transparent;
        }
      }

      &.logout a {
        color: $light-gray;
      }

      &.ad a {
        font-weight: normal;
      }

      .push {
        position: absolute;
        right: 30px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .green-item {
    color: $green !important;

    svg {
      margin-right: 5px;

      path {
        fill: $green;
      }
    }

    &:hover, &:focus {
      text-decoration: none;
    }
  }

  /*------------------------------------*\
              RESPONSIVE
  \*------------------------------------*/

  /* Common rules for responsive*/
  @media (max-width: 959px) {
    flex-wrap: wrap;
    height: 100px;

    .header-menu {
      @include order(2);
    }

    .central-menu {
      @include order(3);
      @include flex(1 0 100%);
      overflow-x: scroll;
      overflow-y: hidden;
      margin-left: 0;
      white-space: nowrap;

      ul li:first-child {
        margin-left: 10px;
      }
    }

    .logged-menu__items {
      li {
        margin-bottom: 30px;

        .push {
          min-width: 30px;
          height: 30px;
          line-height: 30px;
          font-size: 16px;
        }
      }
    }
  }

  @media (max-width: $smallScreen) {
    .header-menu .push-icon {
      display: none;
    }

    .central-menu {
      @include order(3);
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;

      ul {
        text-align: left;
        li {
          margin: 0 25px;
          width: fit-content;

          &:first-child {
            margin-left: 10px;
          }
        }
      }

      .push {
        margin-left: 5px;
      }
    }

    .header-menu {
      @include order(2);
    }

    .logged-menu {
      .dropdown-menu {
        position: absolute;
        top: 50px;
        width: 100%;
      }
    }
  }
}