// main:../mizona.scss
.miz_dealer_information {
  .container {

    .form, form {
      padding-left: 110px;
      .field {
        // border:1px solid red;
        font-size: 16px;
        margin-bottom: 20px;
        @include borrar_float;

        label {
          float: left;
          display: block;
          width: 220px;
          text-align: right;
          padding-right: 10px;
          height: 100%;
          font-size: 16px;
          color: $gray3;
        }

        .input-data {
          // background-color: lime;
          color: $gray3;
          float: left;
          font-size: 16px;
          max-width: 600px;

          * {
            color: $gray3;
          }

          @include inputsNone;

          select {
            //min-width: 150px;
            padding-right: 30px;
            padding-left: 5px;
            border: 1px solid #DDD;
          }
          textarea {
            line-height: 20px;
            max-height: 120px;
            margin-top: 10px;
            padding: 5px;
            width: 100%;
            border: 1px solid #DDD;
          }
          p {
            line-height: 20px;
            max-height: 200px;
            overflow: auto;
            overflow-x: hidden;
            color: #4A4A4A !important;
            margin-bottom: 0;
          }
          .miz_fotos {
            border: 1px dashed $gray1;
            overflow: hidden;
            position: relative;
            width: 100%;
            min-width: 600px;
            min-height: 40px;
            padding: 10px;
            text-align: center;

            .up1 {
              width: 100%;
              position: static !important;

              .ajax-upload-dragdrop {
                border: 1px dashed $gray1;
                width: 100%;
                padding: 5px;

                .btn {
                  color: $white;
                  text-align: center;
                }
              }
            }

            &:after {
              @include borrar_float;
            }

            &#corporateImage {
              border: none;

              /* Before upload an image */
              .ajax-upload-dragdrop {
                width: 30%;
                border: 2px dashed #DDD;
                border-radius: 5px;
                padding: 0;
                &:after {
                  content: "";
                  display: block;
                  padding-bottom: 100%;
                }
                &:hover {
                  border: 2px dashed #949494;
                }
              }

              .btn-like-text {
                cursor: pointer;
                background: none;
                color: #868585;
                border: none;
                text-align: center;
                top: 30%;
                padding: 44% 0;
                width: 100%;

                &:hover {
                  background: $blue2;
                  color: $gray3;
                }
              }

              span {
                display: none;
              }

              /* Uploaded image */
              .gallery {
                div {
                  padding: 0;
                  margin: 0;
                  border: 2px dashed #949494;
                  box-shadow: none;
                  width: 30%;
                  height: auto;
                  position: relative;
                  &:after {
                    content: "";
                    display: block;
                    padding-bottom: 100%;
                  }
                }

                img {
                  margin: 0;
                  padding: 0;
                  width: 100%;
                  height: 100%;
                  position: absolute;
                  border: none;
                  top: 0;
                  left: 0;
                }

                .miniatura_eliminar {
                  position: absolute;
                  bottom: 10px;
                  left: 0;
                }
              }
            }

            &#corporateSavedImage {
              border: none;
              text-align: left;
              img {
                border-radius: 5px;
                border: 1px solid #DDD;
              }
            }

            &#facilitiesImages {
              border: none;

              /* Before upload an image */
              .ajax-upload-dragdrop {
                width: 100%;
                border: 2px dashed #DDD;
                border-radius: 5px;
                padding: 0;
                &:after {
                  content: "";
                  display: block;
                  padding-bottom: 24%;
                }
                &:hover {
                  border: 2px dashed #949494;
                }
              }

              .btn-like-text {
                cursor: pointer;
                background: none;
                color: #868585;
                border: none;
                text-align: center;
                top: 30%;
                padding: 10% 0;
                width: 100%;

                &:hover {
                  background: $blue2;
                  color: $gray3;
                }
              }

              span {
                display: none;
              }

              /* Uploaded image */
              .gallery {
                div {
                  padding: 0;
                  margin: 5px 9px;
                  border: 2px solid #949494;
                  box-shadow: none;
                  width: 30%;
                  height: auto;
                  position: relative;
                  &:after {
                    content: "";
                    display: block;
                    padding-bottom: 100%;
                  }
                }

                img {
                  margin: 0;
                  padding: 0;
                  width: 100%;
                  height: 100%;
                  position: absolute;
                  border: none;
                  top: 0;
                  left: 0;
                }

                .miniatura_principal {
                  bottom: 5px;
                  right: 5px;
                  min-height: fit-content;
                  color: white;
                  position: absolute;
                  background-color: $gray3;

                  &:hover {
                    background-color: #E78D31C2;
                  }
                }

                .miniatura_eliminar {
                  position: absolute;
                  bottom: 10px;
                  left: 0;

                  &:hover {
                    background-color: #BC1519CC;
                  }
                }
              }
            }

            &#facilitiesSavedImages {
              border: none;
              text-align: left;
              .facilities-image {
                display: inline-block;
                margin: 0 18px 10px 18px;
              }
            }
          }
          .miz_horario {
            min-width: 600px;
            font-size: 16px;
            @include inputsNone;
            color: $gray3;

            select {
              padding: 0 20px 0 5px;
              border: 1px solid #DDD;
            }
            span {
              font-size: 16px;
            }
            strong {
              display: block;
              font-size: 16px;
            }

            .error_schedule {
              @extend .current;
              float: right;
              line-height: 40px;
              border: 1px solid $red;
              border-radius: 5px;
              font-size: 12px;
              color: $gray3;
              background-color: $gray1;
              padding: 0 10px;
              position: relative;
              margin-right: 245px;

              * {
                font-size: 14px;
                color: $gray3;
              }

              &:before {
                position: absolute;
                content: '';
                display: block;
                width: 10px;
                height: 10px;
                background-color: $gray1;
                border-bottom: 1px solid $red;
                border-right: 1px solid $red;
                transform: rotate(135deg);
                right: 111px;
                top: 15px;
              }

            }

            .switch {
              display: inline-block;
              color: $gray3;
              font-size: 16px;
              cursor: pointer;
              line-height: 40px;
              margin-right: 10px;

              span {
                display: inline-block;
                @extend %ease-in-out-transition;
                position: relative;
                top: 5px;
                box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.45);

                &.on {
                  background-color: $green;
                  width: 40px;
                  height: 20px;
                  border-radius: 10px;
                  position: relative;

                  &:after {
                    @extend %ease-in-out-transition;
                    content: '';
                    display: block;
                    position: absolute;
                    border-radius: 100%;
                    background-color: $gray1;
                    border: 1px solid $green;
                    width: 20px;
                    height: 20px;
                    right: -2px;
                    box-shadow: 0 0 8px #999;
                  }
                }
                &.off {
                  background-color: $red;
                  @extend .on;

                  &:after {
                    right: 22px;
                    border: 1px solid $red;
                  }
                }
              }
            }

          }
          .lnk_dealer_page {
            text-align: right;
            font-size: 16px;
            a {
              color: $blue;
              font-size: 16px;
            }
          }

          input[type="text"], input[type="tel"], input[type="number"], input[type="password"] {
            width: 100%;
            border: 1px solid #DDD;

            &.euro {
              background: url($URL_PHOTO + 'euro.svg') no-repeat 95% center $transparent;
              padding-right: 16px;
            }
          }
          .error_msg {
            display: none;
          }
        }
        &.error {
          .input-data {
            .error_msg {
              display: block;
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
              background-color: $red;
              color: $white;
              font-size: 14px;
              padding: 0 10px;
              line-height: 20px;
              width: auto;

              &.multiple {
                border-radius: 5px;
              }

              &.fit {
                display: inline-block;
              }
            }
          }
        }

        &:nth-child(5) {
          .input-data {
            position: relative;
            padding-right: 25px;

            &:after {
              top: 9px;
              content: 'Este teléfono no está visible en coches.com';
              position: absolute;
              background: lighten($yellow, 35%);
              padding: 0 10px;
              font-size: 14px;
              border: 1px solid $yellow;
              width: max-content;
              right: -300px;
              line-height: 20px;
              border-radius: 5px;
            }
          }
        }

      }
      .cta-form {
        display: inline-block;
        background-color: $green;
        width: 150px;
        line-height: 40px;
        border: 0;
        color: $white;
        font-weight: bolder;
        border-radius: 5px;
        font-size: 14px;
        margin-left: 220px;
        @extend %shadow-1;
        @extend %ease-in-out-transition;

        &:hover {
          @extend %shadow-3;
        }
      }

    }

    .miz_need_help {
      display: inline-block;
      // border:1px solid red;
      padding-left: 40px;
      color: $blue;
      line-height: 30px;
      font-size: 14px;
      background: url($URL_PHOTO + 'need_help.svg') no-repeat left center $transparent;
    }

    .lh-20 {
      line-height: 20px;
    }
  }
}

.miz_dealer_information_edit {
  @extend .miz_dealer_information;
  .container {
    .form, form {
      .field {
        .input-data {
          // background-color: lime;
          color: $gray3;
          float: left;
          font-size: 16px;
          min-width: 280px;

          * {
            color: $gray3;
          }

          @include inputsNone;

          select {
            //min-width: 150px;
            padding: 0 6px;
            border: 1px solid #DDD;
            min-width: 280px;
            max-width: 280px;
          }
          textarea {
            line-height: 20px;
            max-height: 120px;
            margin-top: 10px;
            padding: 12px 6px;
            width: 100%;
            border: 1px solid #DDD;
            border-radius: 5px;
            max-width: 600px;
          }
          p {
            line-height: 20px;
            max-height: 100px;
            overflow: auto;
            overflow-x: hidden;
            max-width: 600px;
          }

          input[type="text"], input[type="tel"], input[type="number"], input[type="password"] {
            width: 100%;
            border: 1px solid #DDD;
            line-height: 40px;
            padding: 12px 6px;
            border-radius: 5px;
            max-width: 280px;

            &.euro {
              background: url($URL_PHOTO + 'euro.svg') no-repeat 95% center $transparent;
              padding-right: 16px;
            }
          }
        }
        &.error {
          .input-data {
            .error_msg {
              display: block;
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
              background-color: $red;
              color: $white;
              font-size: 14px;
              padding: 0 10px;
              line-height: 20px;
              width: auto;

              &.multiple {
                border-radius: 5px;
              }

              &.fit {
                display: inline-block;
              }
            }
          }
        }
        //por puestos en el formulario
        &:nth-child(1), &:nth-child(2), &:nth-child(6), &:nth-child(7), &:nth-child(9) {
          // background-color: yellow;
          .input-data {
            width: 300px;

            select {
              width: 100%;
            }
          }
        }
        &:nth-child(5) {
          .input-data {
            position: relative;
            min-width: 305px !important;

            &:after {
              top: 9px;
              content: 'Este teléfono no está visible en coches.com';
              position: absolute;
              background: lighten($yellow, 35%);
              padding: 0 10px;
              font-size: 14px;
              border: 1px solid $yellow;
              width: max-content;
              right: -300px;
              line-height: 20px;
              border-radius: 5px;
            }
          }
        }
      }

      .schedule select {
        min-width: 0 !important;
      }

      .cancel-form {
        margin-left: 220px;
        color: $blue;
        display: inline-block;
        width: 120px;
        text-align: left;
      }
      .edit-form {
        display: inline-block;
        background-color: $blue;
        width: 150px;
        line-height: 40px;
        border: 0;
        color: $white;
        font-weight: bolder;
        border-radius: 5px;
        font-size: 14px;
        margin-left: 10px;
        @extend %shadow-1;
        @extend %ease-in-out-transition;

        &:hover {
          @extend %shadow-3;
        }
      }
    }
  }
}
